
<style type="text/css">
    md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: white;
    border-color: rgba(0,0,0,0.12);
}


.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background-color: #ffffff;
    color: black;
}
</style>
<div style="       margin-top: 7px;" >
    <link href="assets/app/dev/style.css" rel="stylesheet" type="text/css" />
    <link href="assets/app/dev/styleview.css" rel="stylesheet" type="text/css" />
    <section>
        <article>



            <md-content style=" width: 100%;">
                <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
                    <md-toolbar class="backhead">
                        <div class="md-toolbar-tools">





      <form  style="      width: 100%;  height: 50px;" class="md-form-login form-validation" name="data_form"  ng-submit="filterdata()" novalidate="">
                <div class="col-md-5">
                    <md-input-container class="md-block"style="background: white">
                        <label>
                            Employee
                        </label>
                        <md-select aria-label="select" ng-model="emp_id" required="" style="font-size:15px">
                            <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                {{user.last_name}} {{user.first_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-5">
                    <md-input-container class="md-block">
                      
                        <input date-range-picker="" name="name" ng-model="datePicker"

 options="DatePickerOptions" 
                        required="" type="text"  style="color: black;font-size: 14px;">
                    </md-input-container>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised btn-w-md md-primary"  style="margin-top: 10px;background-color: #369490;color: white" type="submit">
                        Filter
                    </md-button>
                </div>
            </form>


                            <h2 flex="" class="text-center" md-truncate="" ng-if="TaskView.id">
                                Tasks #{{TaskView.id}}
                            </h2>

                                              <h2 flex="" md-truncate="" ng-if="!TaskView.id">

                            </h2>




                                        <md-input-container style="width: 250px;    margin-top: 32px;
}" class="md-block"  ng-show="TaskView.status == 'Unallocated'">
                                            <label>
                                                Delivery Agents
                                            </label>
                                            <md-select aria-label="select" ng-model="TaskViewEmp_id" ng-change="ToggleTrackingViewDrawDirection(TaskViewEmp_id);">

                                                 <md-input-container class="md-block nopad nomar" >
                            <label>Search Employee</label>
                            <input ng-model="userfileter"   type="text" onkeydown= "mdSelectOnKeyDownOverride(event)">
                        </md-input-container>

                                                <md-option ng-repeat="user in  users  |  filter:userfileter" value="{{user.user_id}}">
                                                    {{user.last_name}} {{user.first_name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                       <md-button  ng-show="TaskView.status == 'Unallocated'" class="right tb wid md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="allocatedTask(TaskViewEmp_id)" nstyle="    margin-top: 0%;" type="button">
                                    Allocate
                            </md-button>

                            <md-button ng-click="showTabDialog('',10,TaskView.id)" ng-if="ToggleTrackingType == 'task'">
                                <md-icon>
                                    mode_edit
                                </md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>




  <div class="col-md-12  bggrow nopad"  ng-if="TaskSelect == 'All'" ng-clock >

<div class="col-md-6" style="background: white;
    z-index: 900;">

                            <div class="col-md-3 nopad" >
                                <p class="hedt">
                               {{TaskViewList.length}}  -  Total Tasks
                                </p>

                            </div>

                                            <div class="col-md-3 nopad">

                                  <p class="hedt">
                                      {{(TaskViewList|filter: { status: 'Assigned' }).length}} - Assigned
                                </p>
                            </div>


                            <div class="col-md-3 nopad">
                              <p class="hedt">
                                    {{(TaskViewList|filter: { status: 'Completed' }).length}}  - Completed
                                </p>
                            </div>
                                                      <div class="col-md-3 nopad ">
                                <p class="hedt">
                                      {{(TaskViewList|filter: { status: 'Declined' }).length}} -  Declined
                                </p>


                            </div>





                        </div>
<div class="col-md-6" style="background: white;
    z-index: 900;">

                            <div class="col-md-6 nopad" >
                                <p class="hedt">
                              Duration : {{TripDuration}}
                                </p>

                            </div>

                               <div class="col-md-6 nopad" >
                            <p class="hedt">
                             Distance : {{TripKMS}}
                                </p>

                            </div>







                        </div>


      <md-content style="    position: static;
    width: 100%;">
<section class="box box-default" style="height: 50vh !important;margin-bottom: 0px; ">
                                                            <div class="box-body" style="height: 50vh;">



 <gm-map center="mapcenter"  refresh ="TaskSelect == 'All'"  ng-if="TaskSelect == 'All'"  class="ui-map" options="{zoom: ToggleTrackingViewZoom}">
                                                  <!--                   <gm-trafficlayer ng-show="showTrafficLayer">
                                                                    </gm-trafficlayer> -->

                                                                    <gm-marker  ng-init="taskk.showmarker = false"  on-click="taskk.showmarker=!taskk.showmarker" ng-if="TaskViewList.length"  ng-repeat="tas in TaskViewList " options="{position:[tas.loc_lat,tas.loc_lng],icon : {
                                url:  GetIcons(tas.status,'task'),
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">





      <gm-infowindow ng-show="taskk.showmarker" options="{content:task_info(tas)}">
                                </gm-infowindow>


                                                                    </gm-marker>





                 <gm-marker ng-repeat="info in TripGeoDataStart" options="{position:[info[0],info[1]],icon : {
                                url:  'assets/images/Start_035.png',
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">
                                                        </gm-marker>


                                                        <gm-marker   ng-repeat="info in TripGeoDataStop" options="{position:[info[0],info[1]],icon : {
                                           url:  'assets/images/Stop_35.png',
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">
                                                        </gm-marker>





                                                                    <gm-polyline  ng-repeat="data in TripGeoSegments" options="{

                                     geodesic: true,
                                      strokeColor: 'blue',
                                      strokeOpacity: 1.0,
                                      strokeWeight: 4,
                                       icons: [{
                                            icon: {path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,fillColor: 'black'},
                                            offset: '100%'
                                        }]

                            }" path="data">
                                                                    </gm-polyline>


                                                                </gm-map>

                                                                  </div>
                                                        </section>

                                                        </md-content>

                        </div>


                    <div class="col-md-12 bggrow nopad" ng-if="TaskView.id && TaskSelect != 'All'" >
                        <div class="col-md-6 nopad">
                            <div class="col-md-12">
                                <p class="p2 ti">
                                Customer
                                </p>

                                <p class="st" style="background:{{TaskStatusColor(TaskView.status)}}">
                                                {{TaskView.status}}
                                            </p>



                                 <p class="p2">

                       <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   person
                                   </md-icon>   {{TaskView.cust_name}}
                                </p>


                                                                 <p class="p2">

                       <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   access_time
                                   </md-icon>   {{TaskView.schedule_date_time | dateFill}}
                                </p>


                                <p class="p2"  ng-if="TaskView.is_geo_fence == 1">

                       <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   gps_fixed
                                   </md-icon>



                      Geo Validation ({{TaskView.geo_fence_meter}} Meters)

                                </p>

                                <p class="p2">
                                   <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   phone
                                   </md-icon>  + {{TaskView.cust_phone }}
                                </p>
                                <p>
                           <md-icon style="     color: rgb(0, 50, 106);   font-size: 21px;
">
                                   location_on
                                   </md-icon>
                                      {{TaskView.cust_address }}  <a ng-click="showMoreInfo()"> More info </a>
                                </p>
                            </div>

                                 <span ng-if="TaskViewEmp_id != ''">



                        <div class="col-md-3 nopad">

                            <md-icon class="cions" style="     font-size: 60px;
    height: 60px;
    transform: rotate(0deg);      color: #00326a;">
                                directions_bike
                            </md-icon>

                                         <p class="hedt ts">
                                Start <br/>
                                <span class="cspan">{{taskStart}}</span>
                            </p>
                        </div>
                        <div class="col-md-6 nopad">
                            <p class="p2 text-center ts" style="    padding-top: 25px;">
                               <span id="panelId">
                                </span>
  <span ng-click="ToggleTrackingRedraw()" ng-if="ToggleTrackingShowRedraw">
                                    <md-icon class="ics" style="display: inline;
    float: right;
    margin-top: -27px;">
                                        refresh
                                    </md-icon>
                                </span>
                            </p>
                            <md-slider aria-label="Disabled discrete 2" max="10" md-discrete="" min="0" ng-disabled="true" ng-model="disabled2" step="3">
                            </md-slider>
                        </div>
                        <div class="col-md-3 nopad">

                            <md-icon class="cions" style="    font-size: 60px;
    height: 60px;
    transform: rotate(0deg);
     color: #00326a">
                            home
                            </md-icon>

                                      <p class="hedt ts">
                                  Destination <br >

                                                <span class="cspan">{{taskEnd}}</span>
                            </p>
                            <p class="p2 text-center " style="    font-size: 12px !important;">
                            </p>
                        </div>

                        </span>
                        </div>

                        <div class="col-md-6 nopad">
                                                <md-card-content layout="row" layout-align="space-between" style="    padding: 0px;">
                                                    <div class="col-md-12 nopad">
                                                        <section class="box box-default" style="height: 60vh !important;margin-bottom: 0px; ">
                                                            <div class="box-body" style="height: 60vh;">



                            <md-checkbox  ng-checked="showTrafficLayer" ng-click="showTrafficLayer=!showTrafficLayer" style="    margin: 0px !important; z-index: 5000;
    float: right;
    color: black;
    font-size: 16px;">
                                Traffic
                            </md-checkbox>
                                    <gm-map center="mapcenter" class="ui-map" ng-if="ToggleTrackingViewStatus" options="{zoom: ToggleTrackingViewZoom}">
                                                                    <gm-trafficlayer ng-show="showTrafficLayer">
                                                                    </gm-trafficlayer>
                                                                    <gm-marker ng-init="emp.showmarker = false" ng-repeat="emp in onlineemp" ng-show="ToggleTrackingViewShowAllEmp" on-click="ToggleTrackingViewDrawDirection(emp);ToggleTrackingShowEmp(emp)" options="{position:[emp.lat, emp.lng],icon : {
                                url: GetEmpIcons(emp),
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">
                                                                    </gm-marker>
                                                                    <gm-marker ng-init="emp.showmarker = false" ng-repeat="emp in onlineemp | filter:{    'user_id' : TaskViewEmp_id }:true" ng-show="ToggleTrackingViewSingleEmp" options="{position:[emp.lat, emp.lng],icon : {
                                url: GetEmpIcons(emp),
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">
                                                                    </gm-marker>
                                                                    <gm-marker ng-if="(ToggleTrackingViewCustSt) && (ToggleTrackingViewCust.lat)" options="{position:[ToggleTrackingViewCust.lat,ToggleTrackingViewCust.lng],icon : {
                                url:  GetIcons(TaskView.status,'task'),
                                size: map.Size(12, 20),
                                origin: maps.Point(0,0),
                                anchor: maps.Point(0, 0),

                            }
                            }">
                                                                    </gm-marker>
                                                                    <gm-directions destination="ToggleRouteDestination" ng-if="ToggleRouteStatus" options="{ travelMode: google.maps.DirectionsTravelMode.DRIVING}" origin="ToggleRouteOrigin">
                                                                        <gm-renderer gm-then="setPanel(renderer)" ng-if="ToggleRouteStatus" options="{polylineOptions:{strokeColor: '#00a8cb', strokeWeight: 4, strokeOpacity: 1.0}, suppressMarkers: true}">
                                                                        </gm-renderer>
                                                                    </gm-directions>
                                                                    <gm-polyline ng-if="ToggleGPSData" options="{

                                     geodesic: true,
                                      strokeColor: 'blue',
                                      strokeOpacity: 1.0,
                                      strokeWeight: 4,
                                       icons: [{
                                            icon: {path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,fillColor: 'black'},
                                            offset: '100%'
                                        }]

                            }" path="taskGeoData">
                                                                    </gm-polyline>
                                                                </gm-map>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </md-card-content>
                        </div>




                    </div>



            <!--           <div class="col-md-12 bggrow nopad"  ng-if="TaskViewEmp_id == emp.user_id" ng-repeat="emp in users">
                        <div class="col-md-6 nopad">
                            <div class="col-md-6">



                                <p class="p2 ti">
                                    Driver
                                </p>
                                <p class="p2">
                                                        <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   person
                                   </md-icon>    {{emp.first_name }} {{emp.last_name }}
                                </p>
                                <p class="p2">

                                                <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   phone
                                   </md-icon>   (+ {{emp.phone }})
                                </p>
                                <p class="p2">
                                                     <md-icon style="      color: rgb(0, 50, 106);  font-size: 21px;
">
                                   email
                                   </md-icon>      {{emp.email }}
                                </p>
                            </div>
                            <div class="col-md-6    ">

                                <img  ng-src="{{parseJsonProfile(emp.profile_image)}}" class="mg" />
                            </div>

                        </div> -->
<!--                         <div class="col-md-2">
                        </div> -->
           <!--              <div class="col-md-6 nopad" >
                            <div class="col-md-3 "  >
                                <p class="hedt">
                            Seen
                                </p>
                                <md-icon class="cions" style="    color: #3f80ce;">
                                    gps_fixed
                                </md-icon>
                                <p class="p2 text-center" >

                                  {{getLastActivity(TaskViewEmp_id,false,true)}} -->
                    <!--                   {{TaskView.status}} -->
                    <!--             </p>
                            </div>
                            <div class="col-md-3 ">
                                <p class="hedt">
                                    Speed
                                </p>
                                <md-icon class="cions" style="    color: #ef0c0c;">
                                    slow_motion_video
                                </md-icon>
                                <p class="p2 text-center">
                                     {{GetSpeedStatus(TaskViewEmp_id)}}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="hedt">
                                    Battery
                                </p>
                                <md-icon class="cions" style="color: #21d221;">
                                    battery_std
                                </md-icon>
                                <p class="p2 text-center">


                                        {{GetBatteryStatus(TaskViewEmp_id)}}

                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="hedt">
                                    Driver
                                </p>
                                <md-icon class="cions" style="color: rgb(0, 50, 106);">
                                    directions_walk
                                </md-icon>
                                <p class="p2 text-center">
                                        {{getEmpStatusCheck(emp.user_id)}}
                                      {{getEmpStatusCheck(emp.user_id,true)}}

                                </p>
                            </div>
                        </div>
                    </div> -->



                </md-card>
            </md-content>
        </article>
    </section>
</div>
