<style type="text/css">
    .md-color-picker-input
    {
        color: black !important;
    }
    .box-body
    {
        background:none;
    }

</style>
<style type="text/css">
    .phone
    {
            margin-bottom: 5px;
    }

    md-input-container label:not(.md-container-ignore).md-required:after
{
    content: "";
}
md-input-container:not(.md-input-has-value) md-select.ng-required:not(.md-no-asterisk) .md-select-value span:first-child:after, md-input-container:not(.md-input-has-value) md-select[required]:not(.md-no-asterisk) .md-select-value span:first-child:after
{
    content: "";
}

</style>
<section class="container-fluid with-maxwidth chapter">
    <div class="box-body">
        <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button class="md-raised btn-w-md md-primary" ng-click="submit_form()" type="button">
                    {{ add ? 'Save' : 'Update' }}
                </md-button>
                <md-button class="md-raised btn-w-md md-primary" ng-click="closeform()" type="button">
                    Close
                </md-button>
            </div>
        </div>
        <div class="col-md-12 nopad" ng-hide="showform">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" ng-click="addbtn()">
                    Add {{title}}
                </md-button>
            </div>
        </div>
    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation">
                <form class="md-form-login form-validation" name="data_form" novalidate="" unsaved-warning-form="">
                    <div class="col-md-4">
                        <label>
                                Customer name<span style="color: red">*</span>
                            </label>
                        <md-input-container class="md-block">
                            
                            <input name="name" ng-model="data.name" required="" type="text">
                            </input>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                         <label class="phone">
                                Phone no <span style="color: red">*</span>
                            </label>
                        <md-input-container class="md-block">
                           
                            <input name="name" ng-intl-tel-input="" ng-model="data.contact_no" required=" " type="text">
                            </input>
                        </md-input-container>
                    </div>
                    <!--      <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input  type="email" name="email" ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />
                        </md-input-container>
                    </div> -->
                    <!--                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Contact Person</label>
                            <input type="text" ng-model="data.contact_person" />
                        </md-input-container>
                    </div> -->
                    <!--                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Pan </label>
                            <input type="text" ng-model="data.pan" />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>TIN </label>
                            <input type="text" ng-model="data.tin" />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Location</label>
                            <input type="text"  ng-model="data.location" />
                        </md-input-container>
                    </div> -->
                    <div class="col-md-3">
                         <label>
                                Location Type <span style="color: red">*</span>
                            </label>
                        <md-input-container class="md-block">
                           
                            <md-select aria-label="select" ng-model="data.type" required="">
                                <md-option ng-repeat="type in companytype track by $index" value="{{$index}}">
                                    {{type}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-9">
                        <label>
                                Address <span style="color: red">*</span>
                            </label>
                        <md-input-container class="md-block">
                            
                            <input googleplace="" ng-change="geocodeupdateloc()" ng-model="data.address" placeholder="" required="" type="text">
                            </input>
                        </md-input-container>
                    </div>
                    <!--  <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> City </label>
                            <input  type="text" name="city" ng-model="data.city" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>District </label>
                            <input  type="text" name="district" ng-model="data.district" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input  type="text" name="state" ng-model="data.state" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input  type="text" name="country" ng-model="data.country" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input  type="text" limitto="6" name="zip" ng-model="data.zipcode" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div> -->
                    <!--
                    <div class="col-md-3">

                        <md-input-container class="md-block">
                            <label>Marker Color</label>


                              <input colorpicker ng-model="data.zipcode" required type="text">

                        </md-input-container>
                </div>
 -->
                    <div class="col-md-3">
                        <label>
                                  Radius (in meters, min : 150).
                            </label>
                        <md-input-container class="md-block">
                            
                            <input min="150" ng-model="data.desc" required="" step="0.01" string-to-number="" type="number">
                            </input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3" ng-hide="is_manager">
                        <label>
                                Belong to Employee
                            </label>
                        <md-input-container class="md-block">
                            
                            <md-select aria-label="select" ng-model="data.emp_id" >
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.first_name}} {{user.last_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>
                            {{title}} Location Map
                        </h5>
                    </div>
                    <div class="col-md-12 gmmap">
                        <gm-map ng-if="showform" options="{center: [data.loc_lat, data.loc_lng], zoom: mapzoom}">
                            <gm-marker on-dragend="getpos(marker.getPosition(),map.getZoom())" options="{position:[data.loc_lat, data.loc_lng],draggable: true}">
                            </gm-marker>
                            <gm-circle center="[data.loc_lat, data.loc_lng]" options="{radius: data.desc, fillColor: '#008BB2', strokeColor: '#005BB7'}">
                            </gm-circle>
                        </gm-map>
                    </div>
                    <!--                     <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.uploads  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>{{title}} File Upload</h5>
                    </div> -->
                    <div class="col-md-12 nopad" ng-hide="true">
                        <lf-ng-md-file-input lf-api="lfApi" lf-files="files" lf-filesize="10MB" lf-maxcount="5" lf-totalsize="20MB" multiple="" name="files">
                        </lf-ng-md-file-input>
                    </div>
                    <div class="col-md-12">
                        <hr>
                            <md-button class="md-raised right wid btn-w-md md-primary" data-ng-click="closeform()" type="button">
                                Close
                            </md-button>
                            <md-button class="right wid md-raised btn-w-md md-primary" ng-click="submit_form()" type="submit">
                                {{ add ? 'Save' : 'Update' }}
                            </md-button>
                        </hr>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content flex="" layout="column">
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>
                        {{title}}s Info
                    </span>
                    <span flex="">
                    </span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>
                            refresh
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>
                            filter_list
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>
                            search
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar aria-hidden="false" class="md-table-toolbar md-default" ng-show="showsearch">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex="100">
                            <input class="searchmrg" ng-model="searchFish" placeholder="Search">
                            </input>
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex="40">
                        <label>
                            Column
                        </label>
                        <md-select ng-change="updateDataTable()" ng-model="single.column">
                            <md-optgroup label="Column">
                                <md-option ng-repeat="column in autocolumn" ng-value="column.name">
                                    {{column.display}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex="40">
                        <label>
                            Search
                        </label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                        </input>
                    </md-input-container>
                    <md-button class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1" type="button">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table="">
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus">
                    </md-progress-linear>
                    <thead md-head="" md-order="query.order">
                        <tr md-row="">
                            <th md-column="" md-order-by="{{column.name}}" ng-repeat="column in autocolumn">
                                <span>
                                    {{column.display}}
                                </span>
                            </th>
                            <th md-column="">
                                <span>
                                    Actions
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body="">
                        <tr md-auto-select="" md-row="" md-select="row" md-select-id="name" ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell="">
                                {{vim.name}}
                            </td>
                            <!--                         <td md-cell>{{vim.email}}</td> -->
                            <td md-cell="">
                                + {{vim.contact_no}}
                            </td>
                            <!--                             <td md-cell>{{vim.contact_person}}</td>
                            <td md-cell>{{vim.emp}}</td> -->
                            <td md-cell="">
                                {{vim.full_address}}
                            </td>
                            <td md-cell="">
                                <md-button aria-label="mode_edit" class="md-icon-button md-primary" data-ng-click="update_info(vim.id)">
                                    <md-tooltip>
                                        Edit
                                    </md-tooltip>
                                    <img src="/assets/images/edit.png" class="empimg ng-scope" style="width: 69%">
                                </md-button>
                                <md-button aria-label="visibility" class="md-icon-button" data-ng-click="view(vim.id)">
                                    <md-tooltip>
                                        View
                                    </md-tooltip><a style="color: white;
    background: green;
    font-size: 10px;
    padding: 2px;
    border: coral;
    border-radius: 4px;
    text-decoration: none" class="ng-scope">VIEW</a>
                                </md-button>
                                <md-button aria-label="delete_forever" class="md-icon-button md-warn" data-ng-click="delete(vim.id)">
                                    <md-tooltip>
                                        Delete
                                    </md-tooltip>
                                    <img src="/assets/images/action-delete.png" class="empimg ng-scope" style="width: 69%">
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-boundary-links="options.boundaryLinks" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect" md-total="{{datatable.data.length}}">
            </md-table-pagination>
        </md-content>
    </md-card>
</section>
