<md-dialog aria-label="Reports" style="    width: 80%;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Map
                </h2>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

 <section class="box box-default" style="height: 600px !important">
                    <div class="box-body" >
                        <gm-map ng-if="map" center="[data.lat, data.lng]" class="ui-map" options="{zoom: 2}" style="height: 682px;">
                            <gm-marker 

            options="{position:[data.lat, data.lng]}"  >


                            </gm-marker>
                        </gm-map>
                    </div>
                </section>


        </md-dialog-content>
    </form>
</md-dialog>
<md-dialog-actions layout="row">
</md-dialog-actions>
