<style type="text/css">
    .mdl-data-table th,td
  {
    text-align: left !important;
  }
</style>
<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <div class="col-md-12 ">
            <h2 class="article-title" style="padding-top:  30px;">
                Speed Report
            </h2>
            <div class="col-md-12 nopad">
                <form class="md-form-login form-validation" name="data_form" ng-submit="filter()" novalidate="">
                    <div class="col-md-4">
                       <md-input-container class="md-block">
                            <label>
                                Employee
                            </label>
                            <md-select aria-label="select" ng-model="emp_id" required="">

                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block">
                            <label>
                                Period
                            </label>
                            <input date-range-picker="" name="name" ng-model="datePicker" required=""  options="DatePickerOptions" type="text">
                            </input>
                        </md-input-container>
                    </div>





                    <div class="col-md-2">
                        <md-button class="md-raised btn-w-md md-primary" type="submit">
                            Filter
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row nopad" ng-clock="">


        <div>


<!--         <div class="col-md-12" ng-if="data.visit_list.length > 0 && emp_id != 'all' ">

            <div class="box box-default">
                <div class="box-body">
                    <div data-echarts data-options="chart.options" style="height: 350px;"></div>
                </div>
            </div>

        </div> -->
        </div>


 <div data-echarts data-options="testoption" style="height: 350px;    margin-top: 200px;"></div>


        </div>
    </article>
</section>
