<style>
    .md-datepicker-calendar-pane,.md-select-menu-container.md-active {
    z-index: 50000;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button
{
    margin-top: -16px;
}

.pac-container
{
        z-index: 4000;
}


md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color:  rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color:  rgb(224, 224, 224)
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: rgb(224, 224, 224)
}


md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color:black;
    color: black;
}


md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
       color: #aaaaaa;
}
/*md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
       color: #aaaaaa;
}
*/

 md-checkbox:not(.md-checked) .md-icon {
    border-color:  #aaaaaa;
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    border-color:  #aaaaaa;
}


md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #00326a;
    font-size: 16px;
}


    md-backdrop.md-dialog-backdrop {
    z-index: 2;
}

.md-dialog-container {
    z-index: 51;
}
md-input-container label:not(.md-container-ignore).md-required:after
{
    content: "";
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.js"></script>
<md-dialog aria-label="Reports" style="     max-width: 80%;
    width: 80%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
              Add Trip
            </h2>
            <span flex="">
            </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>



  <article class="article" ng-hide="showForm" >
            <div class="box box-default">
                <div class="box-body form-validation">
            <h5>
                        <md-icon>
                    perm_identity
                        </md-icon>
                 {{data.tasks[0].cust_info.name}}
                    </h5>

                    <h5>
                        <md-icon>
                     near_me
                        </md-icon>
                       {{data.tasks[0].cust_info.address}}
                    </h5>

                    <h5>
                        <md-icon>
                            merge_type
                        </md-icon>
                     {{data.tasks[0].method}}
                    </h5>
                    <h5>
                        <md-icon>
                            local_phone
                        </md-icon>
                     {{data.emp_info.phone}}
                    </h5>

                    <h5>
                     <md-icon>
                            restaurant_menu
                        </md-icon>
                        {{data.tasks[0].notes}}
                    </h5>

                    <h5>
                        <md-icon>
                            schedule
                        </md-icon>
                       Start : {{data.start_dt  | dateFill }}
                    </h5>

                    <h5 ng-if="data.end_dt!=null">
                        <md-icon>
                            schedule
                        </md-icon>
                      End : {{data.end_dt  | dateFill }}
                    </h5>


                    <h5>
                                            <md-icon>
                            book
                        </md-icon>
                        {{data.tasks[0].status}}
                    </h5>
                    <h5 ng-if="data.allocated_emp">

                                            <md-icon>
                           directions_bike
                        </md-icon>
                        {{data.allocated_emp}}
                    </h5>
                    <h5 ng-if="data.reviews">

                                            <md-icon>
                            perm_contact_calendar
                        </md-icon>
                        {{data.reviews}}
                    </h5>

<span ng-if="val.delivery_to">
<br>
Delivered To : {{data.delivery_to}}<br>
Mobile no : {{data.delivery_phone}}<br>
</span>

<span ng-if="data.signature">
Signature
<br>
<img ng-src="{{data.signature}}" target="_blank" />

</span>
                </div>
            </div>
        </article>
    <article class="article"   ng-show="showForm" >
        <div class="box box-default">
            <div class="box-body form-validation">
                <div class=" col-md-12 nopad">
                    <form class="md-form-login form-validation" name="data_form1" novalidate="" unsaved-warning-form="" ng-submit="submit_form()">
                        <div class="col-md-12 nopad">
                                                        <div class="col-md-3">
                                                             <label>
                                        Trip Start At <span style="color: red">*</span>
                                    </label>
                                <md-input-container class="md-block">
                                   

                                    <input readonly=""  options="dateOptions" date-range-picker="" name="namae"
                                    ng-model="data.start_dt"   required="" type="text" />
                                </md-input-container>
                            </div>


                                 <div class="col-md-3">
                                     <label>
                                               Trip End At
                                    </label>
                                <md-input-container class="md-block">
                                   


                                    <input readonly=""   date-range-picker="" name="name" ng-model="data.end_dt"

                                     options="dateOptions"

                                     type="text" />


  <md-icon ng-click="data.end_dt = ''" ng-if="data.end_dt" style="     margin-left: 90%;   color: #00326a;">

                                  close
                                  <md-tooltip>
                                  Clear Trip End At
   </md-tooltip>
                                      </md-icon>

                          </md-input-container>
                            </div>



                            <div class="col-md-4">
                                  <label>
                                        Employee <span style="color: red">*</span>
                                    </label>

                                <md-input-container class="md-block">
                                  




                                    <md-select aria-label="select" ng-model="data.emp" required="">
                                      <md-select-header>
                                                    <md-input-container class="md-block nopad nomar" >
                            <label>Search </label>
                            <input ng-model="searchEmpTerm"   type="text" onkeydown= "mdSelectOnKeyDownOverride(event)">
                        </md-input-container>


                                </md-select-header>
                                        <md-option ng-repeat="user in  users |  filter:searchEmpTerm " ng-value="{{user.user_id}}" ng-selected="{{ data.emp === user.user_id ? 'true' : 'false' }}">
                                            {{user.last_name}} {{user.first_name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="col-md-2">
                                <md-button class="md-raised btn-w-md " data-ng-click="addNewChoice()" type="button"
                               style=" background-color: #404040; color: white; border-radius: 10px;">
                                    Add Trip
                                </md-button>
                            </div>
                        </div>
                        <br><br>

                            <div class="col-md-12 nopad">
                                <div class="col-md-12 nopad" data-ng-repeat="cus_info in data.cust_jobs">
                                    <div class="col-md-2">
                                           <label>
                                                Location Type<span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block">
                                         
                                            <md-select aria-label="select" ng-model="cus_info.type" required="">
                                            <md-option  ng-value="false"  >
                                                All
                                            </md-option>
                                                <md-option ng-repeat="type in companytype track by $index" value="{{$index}}">
                                                    {{type}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>


                                     <div class="col-md-3">
                                          <label>
                                                Type  <span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block">
                                          

                                             <md-select aria-label="select"  ng-model="cus_info.method" required="">

                                                <md-option ng-repeat="cust in  method" value="{{cust}}">
                                                    {{cust}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>



                                    <div class="col-md-3">
                                        <label>
                                                Customer  <span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <md-select aria-label="select" ng-change="zoom()" ng-model="cus_info.cust_id" required="">

                     <md-select-header>

                                                <md-input-container class="md-block nopad nomar" >
                            <label>Search </label>
                            <input ng-model="searchCustTerm.name"   type="text" onkeydown= "mdSelectOnKeyDownOverride(event)">
                        </md-input-container>


                                </md-select-header>



                                                <md-option ng-repeat="cust in  customers | filter:{ 'type': (cus_info.type || '') } |  filter:searchCustTerm" ng-value="{{cust.id}}" ng-selected="{{ cus_info.cust_id === cust.id ? 'true' : 'false' }}">
                                                    {{cust.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                                Notes
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <textarea md-maxlength="1500" md-select-on-focus="" ng-model="cus_info.notes">
                                            </textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-2">
                                        <md-button class=" md-primary" data-ng-click="removeChoice( $index)" type="button">
                                            X
                                        </md-button>
                                    </div>
                                </div>
                            </div>

                       


                     <div class="col-md-3">
                        <label>
                                        Fleet  <span style="color: red">*</span>
                                    </label>
                                <md-input-container class="md-block">
                                    



                                    <md-select aria-label="select" ng-model="data.vehicle_no" required="">

                                            <md-select-header>
                                                    <md-input-container class="md-block nopad nomar" >
                            <label>Search </label>
                            <input ng-model="searchVehicleTerm.name"   type="text" onkeydown= "mdSelectOnKeyDownOverride(event)">
                        </md-input-container>


                                </md-select-header>

                                        <md-option ng-repeat="user in  competitorinfo  |  filter:searchVehicleTerm.name" value="{{user.id}}"  ng-value="{{user.id}}" ng-selected="{{ data.vehicle_no === user.id ? 'true' : 'false' }}">
                                            {{user.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>


                        <div class="col-md-3">
                             <label>
                                Speed Limit in Km/hours
                            </label>
                        <md-input-container class="md-block">
                           


                             <input step="0.01" string-to-number  ng-model="data.speed_limit" type="number">
                            </input>
                        </md-input-container>
                    </div>


                                     <div class="col-md-3">

                                            <label>
                                                 Stoppage Limit in hours
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <md-select aria-label="select"  ng-model="data.stoppage_limit" required="">
                                                <md-option ng-repeat="item in  StoppageTime" ng-value="item"
 ng-selected="{{ item === data.stoppage_limit ? 'true' : 'false' }}"
                                                >
                                                    {{item}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>


                                        </div>


                                                               <div class="col-md-3">
                                <label>
                                    Trip notes
                                </label>
                          <md-input-container class="md-block">
                               
                                <textarea md-maxlength="1500" md-select-on-focus="" ng-model="data.notes">
                                </textarea>
                            </md-input-container>
                        </div>



                        <div class="col-md-4" permission="" permission-only="['SUPERADMIN','ADMIN']">
                             <label>
                                    Allocated By Employee
                                </label>
                            <md-input-container class="md-block">
                               
                                <md-select aria-label="select" ng-model="data.add_by">
                                    <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                        {{user.last_name}} {{user.first_name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>



                                           <div class="col-md-12" ng-if="TripMap" style="    height: 400px;     margin-bottom: 50px;">
                                <gm-map id="map"  ng-if="TripMap" options="{center: [clat, clng], zoom: 12, mapTypeId: google.maps.MapTypeId.ROADMAP



                                }">

                                    <gm-marker ng-repeat="p in mapArray track by $index"   position="[p.loc_lat, p.loc_lng]">
                                    </gm-marker>
                                </gm-map>
                            </div>


                        <div class="col-md-12">

                            <md-button class="right wid md-raised btn-w-md md-primary"  type="submit">
                                {{ add ? 'Save' : 'Update' }}
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>


<h5 style="color: red;
    text-align: center;
    padding: 6px;">{{alert}}</h5>


    </md-dialog-content>
</md-dialog>
<md-dialog-actions layout="row">
</md-dialog-actions>
