.s {
    color: white;
    background: #436593;
    height: 50px;
}

.app-header .app-header-inner {
    box-shadow: none;
}

.tab {
    font-size: 19px;
    width: 100%;
    padding: 0px;
    margin: 0px !important;
}

.em {
    font-size: 30px;
    float: right;
    padding-top: 5px;
}

.pad-top {
    padding-top: 12px;
}

.pad-top6 {
    padding-top: 6px;
}

.emp {
    display: inline-block;
    font-weight: 600;
}

.dataContent {
    background: #F2F2F2;
}

.padle {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.not-selectable {
    /*  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.bordertop {
    border-top: white solid 1px;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button {
    margin-top: -9.5px;
    padding-left: 14px;
}

.fon {
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 5px !important;
    text-align: center;
    margin: 2px;
    font-size: 20px;
}

.grey {
    color: #596e8a;
}

.themecolor {
    /* color: #00326a;*/
    color: #325a86;
}

._md-datepicker-floating-label .md-input {
    float: none;
    color: #00326a;
    font-weight: 800;
}

.spanfont {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: block;
}

.hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #00326a;
    width: 70%;
    color: #00326a;
    display: none;
}

.hrshow {
    display: block;
}

*:focus {
    outline: none;
}

.black {
    color: black;
}

.list-item {
    /*    background: rgba(239, 239, 239, 0.47);*/
    background: white;
    margin-bottom: 4px;
    /* border-radius: 2px; */
    box-shadow: 3.2px 2.6px 0px 0px rgba(136, 136, 136, 0.18);
    padding: 14px !important;
    margin: 5px;
}

.chack {
    padding-top: 6px;
    padding-bottom: 6px;
    background: #000000bd;
    color: white;
    font-size: 15px;
    /*  font-weight: 600;*/
}

.s1 md-checkbox:not(.md-checked) .md-icon {
    border-color: rgba(255, 255, 255, 0.14);
}

.s1 md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    border-color: white;
}

.st {
    float: right;
    background: #345989;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    margin: 0px !important;
    font-weight: 800;
}

.md-datepicker-button {
    display: none;
}


/*
 *  STYLE 3
 */

.style-3 {
    padding: 4px;
    height: 78vh;
    overflow: scroll;
    overflow-x: hidden;
    /*  background: rgba(249, 249, 249, 0.99);*/
    background: #f5f5f5;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.style-3::-webkit-scrollbar {
    width: 2px;
    background-color: white;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #00326a;
}

.list {
    padding: 5px;
    background: rgba(239, 239, 239, 0.54) !important;
}

.h6f {
    margin-bottom: 5px;
    font-size: 19px;
    color: #436593;
    margin-top: 18px;
    text-transform: capitalize;
}

.pad30 {
    padding-right: 30px;
    padding-left: 30px;
}

.botmnone {
    border-bottom-color: transparent;
}

.addbtn {
    margin-top: -52px;
    position: absolute;
    margin-left: 70%;
    color: #00326a;
}

.radio-button {
    box-sizing: border-box;
    display: block;
    margin-bottom: 16px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 6px;
    margin-bottom: 2px;
}

.nomar {
    margin: 0px;
}

.no-ls {
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: 800;
}

.md-datepicker-input {
    color: white;
    font-weight: 800;
}

.md-datepicker-input-mask {
    display: none;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: white;
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: white;
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color: white;
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: white;
}

md-select.md-default-theme .md-select-icon, md-select .md-select-icon {
    color: white;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: white;
    color: white;
}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: rgba(0, 0, 0, 0.54);
 /*   width: auto !important;*/
}

.app-header {
    z-index: 1;
}

.app-sidebar {
    margin-top: 60px;
}

.app-sidebar .sidebar-header {
    display: none;
}


/*md-option .md-text:hover
{

}

.md-select-menu-container.md-active md-select-menu>*
{
    background: rgb(232, 240, 251);
}


.md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover {
    background: rgb(0, 168, 204);
    color: white;
    font-weight: 500;
}

.md-select-menu-container.md-active md-select-menu
{
border-radius: 16px;
}

md-calendar > div
{
      background: rgb(232, 240, 251);
    border-radius: 10px;
}
.md-datepicker-calendar-pane.md-pane-open
{
    border-radius: 15px;
}
.md-calendar-day-header
{
      background: rgb(232, 240, 251) !important;
   border-radius: 40px;
}
.md-default-theme .md-datepicker-calendar, .md-datepicker-calendar
{
    border-radius: 10px;
}
.md-datepicker-calendar-pane.md-pane-open .md-calendar
{
      background:rgb(232, 240, 251) !important;
}

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover {
    background: rgb(33, 150, 243);
    color: white;
}*/

.search_input {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
}

.sts {
    margin-bottom: 0px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    border: none;
    box-shadow: none;
}
