<section class="container-fluid pad10">
    <article class="article" ng-show="hide">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card md-theme-watch>
                <h3 class="text-center">{{msg}}</h3>
            </md-card>
        </div>
    </article>
    <article class="article mrg1" ng-hide="hide">
        <md-toolbar class="backhead">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" onclick="globalapp.back()">
                    <md-tooltip>
                        Go Back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="cauto">{{title}}</h2>
                <md-button class="md-icon-button" ng-click="edit()">
                    <md-tooltip>
                        Edit {{title}}
                    </md-tooltip>
                    <md-icon>mode_edit</md-icon>
                </md-button>
              <!--   <md-button class="md-icon-button" ng-click="delete()">
                    <md-tooltip>
                        Delete {{title}}
                    </md-tooltip>
                    <md-icon>delete_forever</md-icon>
                </md-button> -->
            </div>
        </md-toolbar>
        <md-content layout-padding class="overfl" md-whiteframe="2">
            <div class="row">
                <div class="col-md-6" ng-if="complete">

                  <p ng-bind-html="view(data.user_id,'EMP ID')"></p>
                  <p ng-bind-html="view(data.first_name,'First Name')"></p>
                  <p ng-bind-html="view(data.last_name,'Last Name')"></p>
        <!--               <p ng-bind-html="view(data.role,'Role')"></p> -->
                      <p ng-bind-html="view('+' + data.phone,'Contact no')"></p>
                       <p ng-bind-html="view(active[data.is_active],'Status')"></p>
<!--                          <p ng-if="data.belongs_manager" ng-bind-html="view(data.belongs_manager,'Belongs Manager')" class="textup"></p> -->


                
        
                </div>

                   <div class="col-md-6" ng-if="complete">
                 


                  <p ng-bind-html="view(data.phone_imei,'Associated Mobile')"></p>

                    <p ng-bind-html="view(data.street,'Address')"></p>
    <!--               <p ng-bind-html="view(data.city,'City')"></p>
                  <p ng-bind-html="view(data.state,'State')"></p>
                  <p ng-bind-html="view(data.country,'Country')"></p>
                  <p ng-bind-html="view(data.zipcode,'Zip Code')"></p> -->

                

                </div>

             <!--    <div class="col-md-6" ng-show="doc">
                    <hr>
                    <h5>Documents / Images</h5>
                    <div class="col-lg-12 col-md-12" ng-repeat="file in data.profile_image  track by $index">
                        <md-card>
                            <div class="md-media-lg card-media mdobj ">
                                <a download="{{file}}" href="{{file}}" title="File">
                                    <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                </a>
                            </div>
                        </md-card>
                    </div>
                </div>

                              <div class="col-md-6" ng-show="cust">
                    <hr>
                    <h5>Belongs to Customers </h5>
                    <div class="col-lg-12 col-md-12">
                        <h4 class="upper" ng-repeat="custinfo in data.cust  track by $index" >
                         Name : {{custinfo.name}} 
                        </h4>
                    </div>
                </div> -->


                

              
            </div>
        </md-content>
        </div>
    </article>
</section>
