<style type="text/css">
    .phone
    {
            margin-bottom: 5px;
    }
md-input-container label:not(.md-container-ignore).md-required:after
{
    content: "";
}
md-input-container:not([md-no-float]) .md-select-placeholder span:first-child
{
    display: none;
}
</style>
<section class="container-fluid with-maxwidth chapter">
    <div class="box-body">
        <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button type="button" ng-click="submit_form()" class="md-raised btn-w-md md-primary">{{ add ? 'Save' : 'Update' }}</md-button>
                <md-button type="button" ng-click="closeform()" class="md-raised btn-w-md md-primary">Close</md-button>
            </div>
        </div>
        <div class="col-md-12 nopad" ng-hide="showform">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" ng-click="addbtn()">Add {{title}}</md-button>
            </div>
        </div>
    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation" style="background:#bbbbbb1c">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" novalidate>
                                       <div class="col-md-3">
                                        <label>First Name <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            
                            <input ng-model="data.first_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                         <label>Last Name  <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                           
                            <input ng-model="data.last_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <label class="phone">Phone no  <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            
                            <input required ng-model="data.phone" type="text"



                            ng-intl-tel-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <label>Email <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            
                            <input required type="email" name="email" ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />

                        </md-input-container>
                        <br/>
                    </div>

                    <div class="col-md-3">
                        <label> Address  <span style="color: red">*</span></label>

<!--                                             <md-input-container class="md-block">
                        <label>Address</label>
                        <textarea  md-maxlength="1500"
                        ng-model="data.street" md-select-on-focus></textarea>
                    </md-input-container> -->

                        <md-input-container class="md-block">                            
                            <input required type="text" googleplace=""  ng-model="data.street">
                        </md-input-container>

                    </div>




                  <!--   <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> City </label>
                            <input  type="text" name="city" ng-model="data.city">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input  type="text" name="state" ng-model="data.state">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input  type="text" name="country" ng-model="data.country">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input  type="text" limitto="6" name="zip" ng-model="data.zipcode">
                        </md-input-container>
                    </div>-->
                    <div class="col-md-3">
                        <label>Associated Mobile </label>
                        <md-input-container class="md-block">
                            
                            <textarea ng-model="data.phone_imei" md-select-on-focus height='32px'></textarea>
                        </md-input-container>
                    </div>


                        <div class="col-md-3">
                            <label>GPS Tracking <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            
                            <md-select ng-model="data.zipcode" aria-label="select" required>
                                <md-option ng-repeat="user in  gps_active track by $index" value="{{$index}}"> {{user}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    
                    <div class="col-md-3">
                        <label>Status</label>
                        <md-input-container class="md-block">
                            
                            <md-select ng-model="data.is_active" aria-label="select" ng-disabled="data.is_statusalive"   required  >
                                <md-option ng-repeat="user in  active track by $index" 
                                value="{{$index}}"> {{user}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>



                    <div class="col-md-3" ng-hide="is_manager">
                        <md-input-container class="md-block">
                            <label>Role</label>
                            <md-select ng-model="data.role_id" aria-label="select" required>
                                <md-option ng-repeat="role in roles" value="{{role.role_id}}"> {{role.desc}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


<!--

 <div class="col-md-12 nopad" ng-show="data.role_id == 1 && !is_manager" >
                      <div class="col-md-3 ">
                        <md-input-container class="md-block">
                            <label>Belongs to Manager</label>
                            <md-select ng-model="data.belongs_manager" aria-label="select" >
                                <md-option ng-repeat="emp in managers " value="{{emp.user_id}}"> {{emp.last_name}}  {{emp.first_name}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>     </div>
 -->

                    <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.profile_image  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>{{title}} Profile Image Upload</h5>
                    </div>
                    <div class="col-md-12 nopad">


                  <lf-ng-md-file-input lf-api="lfApi"  name="files" lf-files="files" lf-mimetype="image/*"  lf-filesize="10MB" >
                        </lf-ng-md-file-input>


                    </div>

                    <div class="col-md-12">
                        <hr>
                        <md-button type="button" data-ng-click="closeform()" class="md-raised right wid btn-w-md md-primary">Close</md-button>
                        <md-button type="submit" ng-click="submit_form()" class="right wid md-raised btn-w-md md-primary">{{ add ? 'Save' : 'Update' }}</md-button>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content layout="column" flex>
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>{{title}} Info </span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>refresh</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>filter_list</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default" ng-show="showsearch" aria-hidden="false">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex=100>
                            <input ng-model="searchFish" placeholder="Search" class="searchmrg">
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex=40>
                        <label>Column</label>
                        <md-select ng-model="single.column" ng-change="updateDataTable()">
                            <md-optgroup label="Column">
                                <md-option ng-value="column.name" ng-repeat="column in autocolumn">{{column.display}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex=40>
                        <label>Search</label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                    </md-input-container>
                    <md-button type="button" class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table>
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus"></md-progress-linear>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}">
                                <span>{{column.display}}</span>
                            </th>
                            <th md-column>
                                <span>Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="row" md-select-id="name" md-auto-select ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{vim.user_id}}</td>
                            <td md-cell>{{vim.last_name}}</td>
                            <td md-cell>{{vim.first_name}}</td>
                            <td md-cell>{{vim.email}}</td>
                            <td md-cell>+{{vim.phone}}</td>
                <!--             <td md-cell>
                            {{vim.role}}
                         </td> -->
                               <td md-cell>

                                 <md-button class="md-icon-button md-primary" data-ng-click="resetpwd(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Reset Password
                        </md-tooltip>



    <img src="assets/images/action-lock.png" style="width: 55%" class="ng-scope">
                                </md-button>

                                <md-button class="md-icon-button md-primary" data-ng-click="update_info(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Edit
                        </md-tooltip>
                        
                                    <img src="/assets/images/edit.png" class="empimg ng-scope" style="width: 69%">
                                </md-button>
                                <md-button class="md-icon-button" data-ng-click="view(vim.user_id)" aria-label="visibility">
                                  <md-tooltip>
                            View
                        </md-tooltip>

                                    <a style="color: white;
    background: green;
    font-size: 10px;
    padding: 2px;
    border: coral;
    border-radius: 4px;
    text-decoration: none" class="ng-scope">VIEW</a>
                                </md-button>
                         <!--        <md-button class="md-icon-button  md-warn" data-ng-click="delete(vim.user_id)" aria-label="delete_forever">
                                  <md-tooltip>
                            Delete
                        </md-tooltip>
                                    <img src="/assets/images/action-delete.png" class="empimg ng-scope" style="width: 69%">
                                </md-button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{datatable.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>
        </md-content>
    </md-card>
</section>
