<style type="text/css">
.md-select-menu-container {
    z-index: 99999 !important;
}
.phone {
    z-index: 999 !important;
    background: #eff5f7;
    margin-bottom: 2px;
}
.containerbg{
    border-style: solid;
    background-color: rgba(15, 103, 121, 0.03);
    border-color: #0f6779;
    border-width: 2px;
    max-width: 100%;
    max-height: 100%;
    padding : 0px;
    width: 100%;
    height: 100%;
}
.containerWhitebg{
    border-style: solid;
    background-color: rgba(15, 103, 121, 0.03);
    border-color: rgba(15, 103, 121, 0.03);
    border-width: 2px;
    max-width: 100%;
    max-height: 100%
    width:100%;
}
.md-transition-in{
    overflow-x: hidden;
}
.center {
    margin: auto;
    height: 100px;
    min-height: 450px;
}
.centerLocation{
    margin: auto;
    width: 100%;
    height: 100%
    min-height: 400px;
}
.centerTrip{
    /*    margin: auto;
    width: 100%;
    height: 100%
    max-width : 100%
    max-height: 100%*/
    /*min-height: 400px;   */
    min-width: 100%;
    height: auto;
}
.imageDivSec{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 450px;
    overflow:auto;
}
.imageDivLocation{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 470px;
    overflow:auto;
}
.imageDivTrip{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 530px;
    overflow:auto;
}

@media screen and (max-width:  700px){

    .mobileHeight{
        
        max-height: 700px;
    }
}


.tripBg{
    /*position: fixed;*/
    background-color: #00326a;
}
.tripDiv{
    /*with:100%; */
    max-height: 530px;
}

.driverFleetDiv{
    max-height: 450px;
}

.locationDiv{
    max-height: 470px;
}

@media screen and (max-width: 800px) {
    .driverFleetDiv {
        max-height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .locationDiv {
        max-height: 700px;
    }
}

.locationImg{
    height: 470px;
}

h4.head{
    color: #00326a;
}
@media screen and (max-width: 800px) {
    .divImg {
        visibility: hidden;
        clear: both;
        display: none;
    }
}
p.alertMsg{
    float: right;
    font-size: 1.5em;
    color: #00326a;
}

.md-datepicker-calendar-pane,.md-select-menu-container.md-active {
    z-index: 50000;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button
{
    margin-top: -16px;
}

.pac-container
{
        z-index: 4000;
}

</style>


<div class="container containerbg" >
    <div class="containerWhitebg">

    

        <!-- Driver Section -->
        <div class="row driverFleetDiv" ng-hide = "myObj.IsDriverHidden">
            <div class="col-md-3 divImg">
                <img src="assets/images/onBoardDriver.png" alt="Create Driver" class="center">
                <!-- <img src="https://www.w3schools.com/images/picture.jpg" alt="Mountain"> -->
            </div>
            <div class="col-md-9 imageDivSec mobileHeight">

      
            <md-button style="    float: right;" class="md-icon-button" ng-click="myObj.ShowHideTask()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
     


                <div class="col-md-12">
                    <form class="md-form-login form-validation" name="user_form" ng-submit="myObj.createUser(user_form.$valid)" novalidate="" unsaved-warning-form="">
                        <div class="col-md-12">
                            <h4 class="head">
                            Create Driver
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label>
                                    First Name
                                </label>
                                <input ng-model="myObj.userData.first_name" required="" type="text" />
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label>
                                    Last Name
                                </label>
                                <input ng-model="myObj.userData.last_name" required="" type="text" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label class="phone">
                                    Phone no
                                </label>
                                <input ng-intl-tel-input="" ng-model="myObj.userData.phone" required="" type="text" />
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label>
                                    Email
                                </label>
                                <input name="email" ng-model="myObj.userData.email" ng-pattern="/^.+@.+\..+$/" required="" type="email" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label>
                                    Address
                                </label>
                                <input googleplace="" ng-change="myObj.geocodeupdateloc()"  md-select-on-focus="" ng-model="myObj.userData.street" placeholder="" required="" type="text" />
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <label>GPS Tracking</label>
                                <md-select ng-model="myObj.data.zipcode" aria-label="select" required>
                                <md-option ng-repeat="user in  myObj.gps_active track by $index" value="{{$index}}"> {{user}} </md-option>
                                </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        
                        <div  class="col-md-12">
                            <p class="alertMsg">{{myObj.createUserResponseMsg}}</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <md-button ng-click="myObj.ShowHideDriver()">Skip</md-button>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <md-button class="md-raised btn-w-md md-primary" style="float: right;" type="submit">
                                Create Driver
                                </md-button>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fleet section -->
        <div class="row driverFleetDiv" ng-hide = "myObj.IsFleetHidden">
            <div class="col-md-3 divImg">
                <img src="assets/images/onBoardFleet.png" alt="Create Driver" class="center">
            </div>
            <div class="col-md-9 imageDivSec mobileHeight">

                      <md-button style="    float: right;" class="md-icon-button" ng-click="myObj.ShowHideTask()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
     
                <div class="col-md-12">
                    <form class="md-form-login form-validation" name="fleet_form" ng-submit="myObj.createFleet(fleet_form.$valid)" novalidate="" unsaved-warning-form="">
                        <h4 class="head">
                        Add Fleet
                        </h4>
                        <div style=" padding-bottom: 180px;
                            padding-top: 40px;
                            ">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>Vehicle No</label>
                                    <input ng-model="myObj.fleetData.name" required type="text">
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>Type</label>
                                    <input required type="text" ng-model="myObj.fleetData.address" >
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>Marker Color</label>
                                    <input type="text" colorpicker required ng-model="myObj.fleetData.desc" readonly="">
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>Notes</label>
                                    <input type="text"  ng-model="myObj.fleetData.remark">
                                    </md-input-container>
                                </div>
                            </div>
                            <div  class="col-md-12">
                                <p class="alertMsg">{{myObj.createFleetResponseMsg}}</p>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    
                                    <md-input-container class="md-block">
                                    <md-button ng-click = "myObj.backFleet()">PREVIOUS</md-button>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    
                                    <md-input-container class="md-block">
                                    <md-button ng-click = "myObj.ShowHideFleet()">Skip</md-button>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <md-input-container class="md-block">
                                    <md-button class="md-raised btn-w-md md-primary" type="submit" style="float: right;">
                                    Add  Fleet
                                    </md-button>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Location section -->
        <div class="row locationDiv"  ng-hide = "myObj.IsLocationHidden">
            <div class="col-md-3 divImg locationImg">
                <img style="height: 100%" src="assets/images/onBoardLocation.png" alt="Create Driver" class="centerLocation">
            </div>
            <div class="col-md-9 imageDivLocation mobileHeight">
                      <md-button style="    float: right;" class="md-icon-button" ng-click="myObj.ShowHideTask()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
     
                <div class="col-md-12">
                    <form class="md-form-login form-validation" name="data_form" ng-submit="myObj.createLocation(data_form.$valid)" novalidate="" unsaved-warning-form="">
                        <h4 class="head">
                        Add Location
                        </h4>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Location Name
                                </label>
                                <input name="name" ng-model="myObj.customerData.name" required="" type="text"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label class="phone">
                                    Phone no
                                </label>
                                <input name="name" ng-intl-tel-input="" ng-model="myObj.customerData.contact_no" required=" " type="text" />
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Radius (in meters, min : 150).
                                </label>
                                <input min="150" ng-model="myObj.customerData.desc" required="" step="0.01" string-to-number="" type="number" />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding: 0px;">
                            <div class="col-md-4" style="padding: 0px;">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <md-input-container class="md-block">
                                        <label>
                                            Location Type
                                        </label>
                                        <md-select aria-label="select" ng-model="myObj.customerData.type" required="">
                                        <md-option ng-repeat="type in myObj.companytype track by $index" value="{{$index}}">
                                        {{type}}
                                        </md-option>
                                        </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12">
                                        <md-input-container class="md-block">
                                        <label>
                                            Address
                                        </label>
                                        <input googleplace="" ng-change="myObj.geocodeupdateloc()" ng-model="myObj.customerData.address" placeholder="" required="" type="text" />
                                        </md-input-container>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-8 gmmap">
                                <gm-map ng-if = "myObj.customerData.CreateCustomer === 'Create'" options="{center: [myObj.customerData.loc_lat, myObj.customerData.loc_lng], zoom: myObj.mapzoom, mapTypeId: myObj.google.maps.MapTypeId.ROADMAP}">
                                    <gm-marker on-dragend="getpos(myObj.marker.getPosition(),myObj.map.getZoom())" options="{position:[myObj.customerData.loc_lat, myObj.customerData.loc_lng],draggable: true}">
                                    </gm-marker>
                                    <gm-circle center="[myObj.customerData.loc_lat, myObj.customerData.loc_lng]" options="{radius: myObj.customerData.desc, fillColor: '#008BB2', strokeColor: '#005BB7'}">
                                    </gm-circle>
                                </gm-map>     
                            </div>
                        </div>
                        
                        <div  class="col-md-12">
                            <p class="alertMsg">{{myObj.createLocationResponseMsg}}</p>
                        </div>
                        <div class="col-md-12" style="padding:0px;">
                            <div class="col-md-2">
                                
                                <md-input-container class="md-block">
                                <md-button ng-click = "myObj.backLocation()">PREVIOUS</md-button>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                <md-button ng-click = "myObj.ShowHideLocation()">Skip</md-button>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <md-button class="md-raised btn-w-md md-primary" type="submit" style="float: right;">
                                Add Location
                                </md-button>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Task section -->
        <div class="row tripDiv" ng-hide = "myObj.IsTaskHidden">
            <div class="col-md-3 divImg">
                <img src="assets/images/onBoardTrip.png" alt="Create Driver" class="centerTrip">
            </div>
            <div class="col-md-9 imageDivTrip mobileHeight">

                      <md-button style="    float: right;" class="md-icon-button" ng-click="myObj.ShowHideTask()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
     
                <div class="col-md-12">
                    <form class="md-form-login form-validation" name="data_form1" ng-submit="myObj.createTask(data_form1.$valid)" novalidate="" unsaved-warning-form="">
                        <h4 class="head">
                        Add Trip
                        </h4>
                        <div class="col-md-12 nopad">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>
                                        Trip Start At
                                    </label>
                                    <input readonly=""  options="myObj.dateOptions" date-range-picker="" name="namae"
                                    ng-model="myObj.data.start_dt"   required="" type="text" placeholder=" Trip Start At"  />
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>
                                        Trip End At
                                    </label>
                                    <input readonly=""   date-range-picker="" name="name" ng-model="myObj.data.end_dt"
                                    options="myObj.dateOptions" type="text" placeholder=" Trip End At" />
                                    <md-icon ng-click="myObj.data.end_dt = ''" ng-if="myObj.data.end_dt" style="     margin-left: 90%;   color: #00326a;">
                                    close
                                    <md-tooltip>
                                    Clear Trip End At
                                    </md-tooltip>
                                    </md-icon>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                    <label>
                                        Employee
                                    </label>
                                    <md-select aria-label="select" ng-model="myObj.taskData.emp" required="">
                                    <md-option ng-repeat="user in  myObj.users" ng-selected="{{ myObj.taskData.emp === myObj.user.user_id ? 'true' : 'false' }}" ng-value="{{user.user_id}}">
                                    {{user.first_name}} {{user.last_name}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        Fleet
                                    </label>
                                    <md-select aria-label="select" ng-model="myObj.taskData.vehicle_no" required="">
                                    <md-option ng-repeat="user in  myObj.competitorinfo" ng-selected="{{ myObj.taskData.vehicle_no === myObj.user.id ? 'true' : 'false' }}" ng-value="{{user.id}}" value="{{myObj.user.id}}">
                                    {{user.name}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-button class="md-raised btn-w-md " data-ng-click="myObj.addNewChoice()" type="button">
                                    Add Task
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 nopad">
                                <div class="col-md-12 nopad">
                                    <div class="col-md-12 nopad" data-ng-repeat="cus_info in myObj.taskData.cust_jobs">
                                        <div class="col-md-3">
                                            <md-input-container class="md-block">
                                            <label>
                                                Location Type
                                            </label>
                                            <md-select aria-label="select" ng-model="myObj.cus_info.type" required="">
                                            <md-option ng-repeat="type in myObj.companytype track by $index" value="{{$index}}">
                                            {{type}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block">
                                            <label>
                                                Type
                                            </label>
                                            <md-select aria-label="select" ng-model="myObj.cus_info.method" required="">
                                            <md-option ng-repeat="cust in  myObj.method" value="{{cust}}">
                                            {{cust}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class = "md-block">
                                            <label>
                                                Customer
                                            </label>
                                            <md-select aria-label="select"  ng-model="myObj.cus_info.cust_id" required="">
                                            <md-option ng-repeat="cust in  myObj.customers | filter:{ 'type': myObj.cus_info.type }" ng-selected="{{ myObj.cus_info.cust_id === myObj.cust.id ? 'true' : 'false' }}" ng-value="{{cust.id}}">
                                            {{cust.name}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <md-input-container class="md-block">
                                            <label>
                                                Notes
                                            </label>
                                            <textarea md-maxlength="1500" md-select-on-focus="" ng-model="myObj.cus_info.notes">
                                            </textarea>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-1">
                                            <md-button class=" md-primary" data-ng-click="myObj.removeChoice( $index)" type="button">
                                            X
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Trip notes
                                </label>
                                <textarea md-maxlength="1500" md-select-on-focus="" ng-model="myObj.taskData.notes">
                                </textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Speed Limit in Km/hours
                                </label>
                                <input ng-model="taskData.speed_limit" step="0.01" string-to-number="" type="number" />
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Stoppage Limit in hours
                                </label>
                                <md-select aria-label="select" ng-model="myObj.taskData.stoppage_limit" required="">
                                <md-option ng-repeat="item in  myObj.StoppageTime" ng-selected="{{ item === myObj.taskData.stoppage_limit ? 'true' : 'false' }}" ng-value="item">
                                {{item}}
                                </md-option>
                                </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <p class="alertMsg">{{myObj.createTaskResponseMsg}}</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                
                                <md-input-container class="md-block">
                                <md-button ng-click = "myObj.backTask()">PREVIOUS</md-button>
                                </md-input-container>
                            </div>
                            <!-- <div class="col-md-6">
                                <md-input-container class="md-block">
                                <md-button ng-click = "myObj.ShowHideTask()">Skip</md-button>
                                </md-input-container>
                            </div> -->
                            <div class="col-md-8">
                                <md-input-container class="md-block">
                                <md-button class="md-raised btn-w-md md-primary" style="    float: right;" type="submit">
                                Add Trip
                                </md-button>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        


    </div>
</div>

