<style type="text/css">
.phone {
z-index: 999 !important;
background: #fbfbfb;
margin-bottom: 2px;
}
md-autocomplete.md-default-theme, md-autocomplete
{
  background: none;
}
.md-whiteframe-z1
{
  box-shadow:none !important;
}
</style>
<section class="container-fluid with-maxwidth chapter" style="    margin-top: -5%;">
    <article class="article">
        <h2 class="article-title">
        Fleet On Board Steps
        </h2>
        <div class="box box-default">
            <div class="box-body" >
                <section class="ui-angular-wizard">
                    <wizard indicators-position="top">
                    <div class="" style="    float: right;     " ng-hide="(currentStepNumber() == 1) && (userData.CreateDriver == false)">
                        <button  style="       margin-top: 8px;
                        font-size: 15px;
                        min-width: 60px !important;
                        font-weight: 400;
                        "
                        class=" md-raised btn-w-md md-accent md-button md-ink-ripple" type="button" ng-click="previousStep()" aria-label="Go Back">
                        <md-icon style="
                        margin-top: 0px !important;" class="material-icons">arrow_back</md-icon>
                        <md-tooltip>
                        Go Back
                        </md-tooltip>
                        </button>
                    </div>
                    <wz-step wz-title="Driver">
                    <div ng-show="userData.CreateDriver === false">
                        <h2>
                        Driver
                        </h2>
                        <div style="   background: #fbfbfb; padding-bottom: 80px;padding-top: 25px;
                            ">
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="userData.CreateDriver='Create'" type="button">
                                Create Driver
                                </md-button>
                            </div>
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="ee()" type="button">
                                Use  Existing Driver
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="userData.CreateDriver === 'Create'">
                        <form class="md-form-login form-validation" name="user_form" ng-submit="createUser  ()" novalidate="" unsaved-warning-form="">
                            <h2>
                            Create Driver
                            </h2>
                            <div style="   background: #fbfbfb; padding-bottom: 180px;padding-top: 25px;
                                ">
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        First Name
                                    </label>
                                    <input ng-model="userData.first_name" required="" type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        Last Name
                                    </label>
                                    <input ng-model="userData.last_name" required="" type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label class="phone">
                                        Phone no
                                    </label>
                                    <input ng-intl-tel-input="" ng-model="userData.phone" required="" type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        Email
                                    </label>
                                    <input name="email" ng-model="userData.email" ng-pattern="/^.+@.+\..+$/" required="" type="email" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-5">
                                    <md-input-container class="md-block">
                                    <label>
                                        Address
                                    </label>
                                    <textarea md-maxlength="1500" md-select-on-focus="" ng-model="userData.street">
                                    </textarea>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        GPS Tracking
                                    </label>
                                    <md-select aria-label="select" ng-init="userData.zipcode=1" ng-model="userData.zipcode" required="">
                                    <md-option ng-repeat="user in  gps_active track by $index" value="{{$index}}">
                                    {{user}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <md-button class="md-raised btn-w-md md-primary"  style="    float: right;" type="submit">
                                    Create  Driver
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-show="userData.CreateDriver === 'Choose'">
                        <form class="md-form-login form-validation" name="user_form" ng-submit="chooseUser()" novalidate="" unsaved-warning-form="">
                            <h2>
                            Choose Driver
                            </h2>
                            <div style="   background: #fbfbfb;     padding-bottom: 30px;
                                padding-top: 9px
                                ">
                                <div class="col-md-6 " style="    padding-top: 10px; ">
                                    <md-input-container class="md-block">
                                    <label>
                                        Employee
                                    </label>
                                    <md-select aria-label="select" ng-model="userData.user_id" required="">
                                    <md-option ng-repeat="user in  users" ng-selected="{{ userData.user_id=== user.user_id ? 'true' : 'false' }}" ng-value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <md-button class="md-raised btn-w-md md-primary" type="submit">
                                Select  Driver
                                </md-button>
                            </div>
                        </form>
                    </div>
                    </wz-step>
                    <wz-step wz-title="Fleet">
                    <div ng-show="fleetData.CreateFleet === false">
                        <h2>
                        Fleet
                        </h2>
                        <div style="   background: #fbfbfb; padding-bottom: 80px;padding-top: 25px;
                            ">
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="fleetData.CreateFleet='Create'" type="button">
                                Add new fleet
                                </md-button>
                            </div>
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="ee();" type="button">
                                Use existing   fleet
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="fleetData.CreateFleet === 'Create'">
                        <form class="md-form-login form-validation" name="fleet_form" ng-submit="createFleet()" novalidate="" unsaved-warning-form="">
                            <h2>
                            Add Fleet
                            </h2>
                            <div style="   background: #fbfbfb;       padding-bottom: 180px;
                                padding-top: 40px;
                                ">
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>Vehicle No</label>
                                    <input ng-model="fleetData.name" required type="text">
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>Type</label>
                                    <input required type="text" ng-model="fleetData.address" >
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>Marker Color</label>
                                    <input type="text" colorpicker required ng-model="fleetData.desc" readonly="">
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>Notes</label>
                                    <input type="text"  ng-model="fleetData.remark">
                                    </md-input-container>
                                </div>
                                <div class="col-md-12">
                                    <md-input-container class="md-block">
                                    <md-button class="md-raised btn-w-md md-primary" type="submit" style="    float: right;">
                                    Add  Fleet
                                    </md-button>
                                    </md-input-container>
                                </div>
                            </div>
                        </form>
                    </div>
                    </wz-step>
                    <wz-step wz-title="Location">
                    <div ng-show="customerData.CreateCustomer === false">
                        <h2>
                        Location
                        </h2>
                        <div style="   background: #fbfbfb; padding-bottom: 80px;padding-top: 25px;
                            ">
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="customerData.CreateCustomer='Create'" type="button">
                                Add new Location
                                </md-button>
                            </div>
                            <div class="col-md-6 text-center">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="ee();ReachTask()" type="button">
                                Use existing Location
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="customerData.CreateCustomer === 'Create'">
                        <h2>
                        Add Location
                        </h2>
                        <div style="   background: #fbfbfb;       padding-bottom: 180px;
                            padding-top: 40px;" >
                            <form class="md-form-login form-validation" name="data_form" ng-submit="createLocation()" novalidate="" unsaved-warning-form="">
                                <div class="col-md-4">
                                    <md-input-container class="md-block">
                                    <label>
                                        Location name
                                    </label>
                                    <input name="name" ng-model="customerData.name" required="" type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <md-input-container class="md-block">
                                    <label class="phone">
                                        Phone no
                                    </label>
                                    <input name="name" ng-intl-tel-input="" ng-model="customerData.contact_no" required=" " type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        Location Type
                                    </label>
                                    <md-select aria-label="select" ng-model="customerData.type" required="">
                                    <md-option ng-repeat="type in companytype track by $index" value="{{$index}}">
                                    {{type}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-9">
                                    <md-input-container class="md-block">
                                    <label>
                                        Address
                                    </label>
                                    <input googleplace="" ng-change="geocodeupdateloc()" ng-model="customerData.address" placeholder="" required="" type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                    <label>
                                        Radius (in meters, min : 150).
                                    </label>
                                    <input min="150" ng-model="customerData.desc" required="" step="0.01" string-to-number="" type="number" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-12 nopad">
                                    <h5>
                                    {{title}} Location Map
                                    </h5>
                                </div>
                                <div class="col-md-12 gmmap">
                                    <gm-map ng-show="customerData.CreateCustomer === 'Create'"  options="{center: [customerData.loc_lat, customerData.loc_lng], zoom: mapzoom}">
                                        <gm-marker on-dragend="getpos(marker.getPosition(),map.getZoom())" options="{position:[customerData.loc_lat, customerData.loc_lng],draggable: true}">
                                        </gm-marker>
                                        <gm-circle center="[customerData.loc_lat, customerData.loc_lng]" options="{radius: customerData.desc, fillColor: '#008BB2', strokeColor: '#005BB7'}">
                                        </gm-circle>
                                    </gm-map>
                                </div>
                                <div class="col-md-12">
                                    <md-input-container class="md-block">
                                    <md-button class="md-raised btn-w-md md-primary" type="submit" style="    float: right;">
                                    Add  Location
                                    </md-button>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </div>
                    </wz-step>
                    <!--  <wz-step wz-title="Trip Schedule">
                    <h2>
                    Trip Schedule
                    </h2>
                    <div class="ui-wizard-content">
                        <h1>
                        Trip Schedule
                        </h1>
                    </div>
                    <div class="ui-wizard-actions">
                        <md-button class="md-raised btn-w-md md-primary" type="submit" wz-next="">
                        Next
                        </md-button>
                    </div>
                    </wz-step> -->
                    <wz-step wz-title="Trip Schedule">
                    <h2>
                    Add Trip
                    </h2>
                    <div style="   background: #fbfbfb;       padding-bottom: 180px;
                        padding-top: 40px; height:{{taskData.height}}px">
                        <form class="md-form-login form-validation" name="data_form" ng-submit="createTask()" novalidate="" unsaved-warning-form="">
                            <div class="col-md-12 nopad">
                                <div class="col-md-4">
                                    <md-input-container class="md-block">
                                    <label>
                                        Travel Period
                                    </label>
                                    <input date-range-picker="" name="name" ng-model="datePicker" options="{  timePicker: true,
                                    timePickerIncrement: 5,
                                    locale: {
                                    format: 'MM/DD/YYYY h:mm A'
                                    }}" placeholder="  Travel Period" required="" type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3 ">
                                    <md-input-container class="md-block">
                                    <label>
                                        Employee
                                    </label>
                                    <md-select aria-label="select" ng-model="taskData.emp" required="">
                                    <md-option ng-repeat="user in  users" ng-selected="{{ taskData.emp === user.user_id ? 'true' : 'false' }}" ng-value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-2">
                                    <md-input-container class="md-block">
                                    <label>
                                        Fleet
                                    </label>
                                    <md-select aria-label="select" ng-model="taskData.vehicle_no" required="">
                                    <md-option ng-repeat="user in  competitorinfo" ng-selected="{{ taskData.vehicle_no === user.id ? 'true' : 'false' }}" ng-value="{{user.id}}" value="{{user.id}}">
                                    {{user.name}}
                                    </md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-2">
                                    <md-button class="md-raised btn-w-md " data-ng-click="addNewChoice()" type="button">
                                    Add Task
                                    </md-button>
                                </div>
                            </div>
                            <div class="col-md-12 nopad">
                                <div class="col-md-12 nopad">
                                    <div class="col-md-12 nopad" data-ng-repeat="cus_info in taskData.cust_jobs">
                                        <div class="col-md-2">
                                            <md-input-container class="md-block">
                                            <label>
                                                Location Type
                                            </label>
                                            <md-select aria-label="select" ng-model="cus_info.type" required="">
                                            <md-option ng-repeat="type in companytype track by $index" value="{{$index}}">
                                            {{type}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block">
                                            <label>
                                                Type
                                            </label>
                                            <md-select aria-label="select" ng-model="cus_info.method" required="">
                                            <md-option ng-repeat="cust in  method" value="{{cust}}">
                                            {{cust}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block">
                                            <label>
                                                Customer
                                            </label>
                                            <md-select aria-label="select" ng-change="zoom()" ng-model="cus_info.cust_id" required="">
                                            <md-option ng-repeat="cust in  customers | filter:{ 'type': cus_info.type }" ng-selected="{{ cus_info.cust_id === cust.id ? 'true' : 'false' }}" ng-value="{{cust.id}}">
                                            {{cust.name}}
                                            </md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <md-input-container class="md-block">
                                            <label>
                                                Notes
                                            </label>
                                            <textarea md-maxlength="1500" md-select-on-focus="" ng-model="cus_info.notes">
                                            </textarea>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <md-button class=" md-primary" data-ng-click="removeChoice( $index)" type="button">
                                            X
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Trip notes
                                </label>
                                <textarea md-maxlength="1500" md-select-on-focus="" ng-model="taskData.notes">
                                </textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Speed Limit in Km/hours
                                </label>
                                <input ng-model="taskData.speed_limit" step="0.01" string-to-number="" type="number" />
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                <label>
                                    Stoppage Limit in hours
                                </label>
                                <md-select aria-label="select" ng-model="taskData.stoppage_limit" required="">
                                <md-option ng-repeat="item in  StoppageTime" ng-selected="{{ item === taskData.stoppage_limit ? 'true' : 'false' }}" ng-value="item">
                                {{item}}
                                </md-option>
                                </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="md-block">
                                <md-button class="md-raised btn-w-md md-primary" style="    float: right;" type="submit">
                                Add  Trip
                                </md-button>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                    </wz-step>
                    <wz-step wz-title="Monitoring">
                    <h2>
                    See Live Tracking in Dashboard
                    </h2>
                    <div class="ui-wizard-content">
                        <h1 style="    font-size: 21px;">
                        Login into mobile application and start the trip
                        </h1>
                    </div>
                    <div class="ui-wizard-actions">
                        <md-button class="md-raised btn-w-md md-primary" ng-click="goTodashboard()" type="button">
                        View Live Tracking
                        </md-button>
                    </div>
                    </wz-step>
                    </wizard>
                </section>
            </div>
        </div>
    </article>
</section>