<style type="text/css">
.phone {
z-index: 999 !important;
background: #fbfbfb;
margin-bottom: 2px;
}
md-autocomplete.md-default-theme, md-autocomplete
{
  background: none;
}
.md-whiteframe-z1
{
  box-shadow:none !important;
}
</style>

<section class="container-fluid with-maxwidth chapter" style="  margin-top: 5%;">
	<article class="article">
		<div ng-controller="AppCtrl" class="md-padding" ng-init="opendiv()" id="popupContainer" ng-cloak>
			<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
			</div>
		</div>
	</article>
</section>