<style type="text/css">

.containerbg{
    border-style: solid;
    background-color: rgba(15, 103, 121, 0.03);
    border-color: #0f6779;
    border-width: 2px;
    max-width: 100%;
    max-height: 100%;
    padding : 0px;
    width: 100%;
    height: 100%;
}
.containerWhitebg{
    border-style: solid;
    background-color: rgba(15, 103, 121, 0.03);
    border-color: rgba(15, 103, 121, 0.03);
    border-width: 2px;
    max-width: 100%;
    max-height: 100%
    width:100%;
}
.md-transition-in{
    overflow-x: hidden;
}
.center {
    margin: auto;
    height: 100px;
    min-height: 450px;
}
.centerLocation{
    margin: auto;
    width: 100%;
    height: 100%
    min-height: 400px;
}
.centerTrip{
    /*    margin: auto;
    width: 100%;
    height: 100%
    max-width : 100%
    max-height: 100%*/
    /*min-height: 400px;   */
    min-width: 100%;
    height: auto;
}
.imageDivSec{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 450px;
    overflow:auto;
}
.imageDivLocation{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 470px;
    overflow:auto;
}
.imageDivTrip{
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    /*position: absolute;*/
    height: 100%;
    with:100%;
    max-height: 530px;
    overflow:auto;
}

@media screen and (max-width:  700px){

    .mobileHeight{
        
        max-height: 700px;
    }
}


.tripBg{
    /*position: fixed;*/
    background-color: #00326a;
}
.tripDiv{
    /*with:100%; */
    max-height: 530px;
}

.driverFleetDiv{
    max-height: 450px;
}

.locationDiv{
    max-height: 470px;
}

@media screen and (max-width: 800px) {
    .driverFleetDiv {
        max-height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .locationDiv {
        max-height: 700px;
    }
}

.locationImg{
    height: 470px;
}

h4.head{
    color: #00326a;
}
@media screen and (max-width: 800px) {
    .divImg {
        visibility: hidden;
        clear: both;
        display: none;
    }
}
p.alertMsg{
    float: right;
    font-size: 1.5em;
    color: #00326a;
}

.md-datepicker-calendar-pane,.md-select-menu-container.md-active {
    z-index: 50000;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button
{
    margin-top: -16px;
}

.pac-container
{
        z-index: 4000;
}
/*
.md-virtual-repeat-container.md-autocomplete-suggestions-container.md-whiteframe-z1.md-virtual-repeat-container.md-orient-vertical.ng-hide
{
    z-index: 99999999;
}*/
.md-virtual-repeat-container.md-autocomplete-suggestions-container
{
    z-index: 99999999 !important;  
}
.md-autocomplete.md-default-theme, md-autocomplete
{
  background: none !important;
}
.md-whiteframe-1dp, .md-whiteframe-z1
{
  box-shadow:none;
}
.md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon
{
  border-color:#797777;
}
label.ng-scope.md-required
{
  display: none;
}
md-autocomplete
{
  margin-top: -6px;
}
</style>



<div class="container containerbg" >
    <div class="containerWhitebg" >

    
    <!-- Timezone section -->
        <div class="row driverFleetDiv" ng-hide="hide_time"  ng-hide = "myObj.TimeZoneSelect">
            <div class="col-md-3 divImg">
                <img src="assets/images/ontimezone.png" alt="Create Driver" class="center">
                <!-- <img src="https://www.w3schools.com/images/picture.jpg" alt="Mountain"> -->
            </div>
            <div class="col-md-9 imageDivSec mobileHeight">
   
            <div class="col-md-12">
                    <form class="md-form-login form-validation"  name="user_form" ng-submit="TimeZone(user_form.$valid)" novalidate="" unsaved-warning-form="">
                       
                       <div class="col-md-12">
                            <h4 class="head">
                             Select TimeZone
                            </h4>
                        </div>
                       <!--  <div class="col-md-12">
                            <div class="col-md-12">
                            
                        <md-input-container class="md-block">
                  <label>TimeZone<span style="color: red"></span></label>
                        <md-autocomplete 
                    id="timezone"
          ng-disabled="ctrl.isDisabled"
          required=""
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(zone)"
          md-items="zone in querySearch(ctrl.searchText)"
          md-item-text="zone.desc"
          md-min-length="0"
          md-clear-button="false"
          placeholder="">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{zone.desc}}</span>
        </md-item-template>
        <md-not-found>
          No Timezone matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
        
                        
                  </md-input-container>

                       </div>-->

                         <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>
                                Time Zone
                            </label>
                            <md-select aria-label="select" required="" ng-model="timezone">
                              
                               <md-option ng-repeat="c1 in timeZone | orderBy:'id'" ng-value="c1.desc">
                                    {{c1.desc}}
                                </md-option>

                            

                            </md-select>
                        </md-input-container>
                    </div>

                       
                       <div class="col-md-12" style="margin-top: 22px;">
                        <md-input-container class="md-block">
                                        <label>Company Location<span style="color: red"></span></label>
                                        <input googleplace="" ng-change="geocodeupdatelocpickup()" ng-model="address" id='dash-cust-address' placeholder="Company Location" required="" type="text" value=data.picktime ng-readonly="data.tripstart" />


                                      <md-icon ng-click="showpickupmap1()" ng-show="showpickupmap" style="margin-left: 98%;   color: #00326a;">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showpickupmap2()" ng-hide="showpickupmap" style="color: #00326a;" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>




                       </div>
                            <div class="col-md-12" ng-init="geocodeupdatelocpickup()">

                                    <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [pickup_ladd, pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpickuppos(marker.getPosition(),map.getZoom(),true)" options="{position:[pickup_ladd, pickup_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div>
                                   
                                </div>
                       <div class="col-md-12">
                        <md-input-container class="md-block">
                             <md-checkbox  ng-true-value="'true'"
                                      ng-false-value="'false'"
                                     
                                      ng-model="mail" id='add-dash-geoloc' ng-disabled="{{mailsts}}">
                                                Sent Notification E-mail to The Customers
                                            </md-checkbox>

                             <md-checkbox  ng-true-value="'true'"
                                      ng-false-value="'false'"
                                      ng-model="sms" id='add-dash-geoloc' ng-disabled="{{smssts}}">
                                                Sent Notification Sms to The Customers(Select The Plans for Contact The MT Admin)
                                            <!-- </md-checkbox>
                             <md-checkbox ng-false-value="0" ng-model="is_multipick" ng-true-value="1" id='add-dash-geoloc'>
                                                Multiple Pickup Points
                                            </md-checkbox>  -->              
                        </md-input-container>
                       </div>
                       <div>
                       </div>
                    
                        <div class="col-md-12">
                            
                            
                                <md-input-container class="md-block">
                                <md-button class="md-raised btn-w-md md-primary col-md-offset-3" type="submit">
                                Save
                                </md-button>
                                </md-input-container>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
      
    </div>
  </div>