<section class="container-fluid with-maxwidth chapter">
    <div class="box-body">
        <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button class="md-raised btn-w-md md-primary" ng-click="submit_form()" type="button">
                    {{ add ? 'Save' : 'Update' }}
                </md-button>
                <md-button class="md-raised btn-w-md md-primary" ng-click="closeform()" type="button">
                    Close
                </md-button>
            </div>
        </div>
        <div class="col-md-12 nopad" ng-hide="showform">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" ng-click="addbtn()">
                    Add {{title}}
                </md-button>
            </div>
        </div>
    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation">
                <form class="md-form-login form-validation" name="data_form" novalidate="" unsaved-warning-form="">
                    <div class="col-md-12 nopad">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>
                                    Notification Title
                                </label>
                                <input ng-model="data.title" required="" type="text">
                                </input>
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>
                                    Notification Desc
                                </label>
                                <input ng-model="data.info" required="" type="text">
                                </input>
                            </md-input-container>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <label>
                                    Notification Type
                                </label>
                                <md-select aria-label="select" ng-model="data.notifi_type" required="">
                                    <md-option ng-repeat="user in  notify_type track by $index" value="{{$index}}">
                                        {{user}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <div class="col-md-3">
                            <md-input-container class="md-block">
                                <label>
                                    Location Type
                                </label>
                                <md-select aria-label="select" ng-model="data.loc_type" required="">
                                    <md-option ng-repeat="user in  place_type track by $index" value="{{$index}}">
                                        {{user}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-5" ng-if="data.loc_type == 0">
                            <md-input-container class="md-block">
                                <label>
                                    Location
                                </label>
                                <md-select aria-label="select" ng-model="data.loc_id" ng-change="geocodeupdateExist(data.loc_id)" required="">
                                    <md-option ng-repeat="cust in  customers" value="{{cust.id}}">
                                        {{cust.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-5" ng-if="data.loc_type == 1">
                            <md-input-container class="md-block">
                                <label>
                                    Location Address
                                </label>
                                <input googleplace="" ng-change="geocodeupdateloc()" ng-model="data.address" placeholder="" required="" type="text">
                                </input>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block">
                                <label>
                                    Radius (in meters, min : 150).
                                </label>
                                <input min="150" ng-model="data.radius" required="" step="0.01" string-to-number="" type="number">
                                </input>
                            </md-input-container>
                        </div>
                    </div>


                      <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>
                               Send to Vehicle
                            </label>
                            <md-select aria-label="select" ng-model="data.to_driver" required="">
                                <md-option ng-repeat="user in  st" value="{{$index}}">
                                    {{user}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        </div>


                     <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>
                               Status
                            </label>
                            <md-select aria-label="select" ng-model="data.status" required="">
                                <md-option ng-repeat="user in  active" value="{{$index}}">
                                    {{user}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        </div>





<!--                     <div class="col-md-3" ng-hide="is_manager">
                        <md-input-container class="md-block">
                            <label>
                                Added By Employee
                            </label>
                            <md-select aria-label="select" ng-model="data.add_by" required="">
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.first_name}} {{user.last_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div> -->
                    <div class="col-md-12 nopad">
                        <h5>
                            {{title}} Location Map
                        </h5>
                    </div>
                    <div class="col-md-12 gmmap">
                        <gm-map ng-if="showform" options="{center: [data.lat, data.lng], zoom: mapzoom}">
                            <gm-marker on-dragend="getpos(marker.getPosition(),map.getZoom())" options="{position:[data.lat, data.lng],draggable: true}">
                            </gm-marker>
                            <gm-circle center="[data.lat, data.lng]" options="{radius: data.radius, fillColor: '#008BB2', strokeColor: '#005BB7'}">
                            </gm-circle>
                        </gm-map>
                    </div>
                    <div class="col-md-12">
                        <hr>
                            <md-button class="md-raised right wid btn-w-md md-primary" data-ng-click="closeform()" type="button">
                                Close
                            </md-button>
                            <md-button class="right wid md-raised btn-w-md md-primary" ng-click="submit_form()" type="button">
                                {{ add ? 'Save' : 'Update' }}
                            </md-button>
                        </hr>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content flex="" layout="column">
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>
                        {{title}} Info
                    </span>
                    <span flex="">
                    </span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>
                            refresh
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>
                            filter_list
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>
                            search
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar aria-hidden="false" class="md-table-toolbar md-default" ng-show="showsearch">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex="100">
                            <input class="searchmrg" ng-model="searchFish" placeholder="Search">
                            </input>
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex="40">
                        <label>
                            Column
                        </label>
                        <md-select ng-change="updateDataTable()" ng-model="single.column">
                            <md-optgroup label="Column">
                                <md-option ng-repeat="column in autocolumn" ng-value="column.name">
                                    {{column.display}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex="40">
                        <label>
                            Search
                        </label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                        </input>
                    </md-input-container>
                    <md-button class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1" type="button">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table="">
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus">
                    </md-progress-linear>
                    <thead md-head="" md-order="query.order">
                        <tr md-row="">
                            <th md-column="" md-order-by="{{column.name}}" ng-repeat="column in autocolumn">
                                <span>
                                    {{column.display}}
                                </span>
                            </th>
                            <th md-column="">
                                <span>
                                    Actions
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body="">
                        <tr md-auto-select="" md-row="" md-select="row" md-select-id="name" ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell="">
                                {{vim.title}}
                            </td>
                            <td md-cell="">

                            <p class="trancate">
                                {{vim.info}}

                                </p>
                            </td>
                            <td md-cell="">
                                <md-button aria-label="mode_edit" class="md-icon-button md-primary" data-ng-click="update_info(vim.id)">
                                    <md-tooltip>
                                        Edit
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        mode_edit
                                    </md-icon>
                                </md-button>
                                <md-button aria-label="delete_forever" class="md-icon-button md-warn" data-ng-click="delete(vim.id)">
                                    <md-tooltip>
                                        Delete
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        delete_forever
                                    </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-boundary-links="options.boundaryLinks" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect" md-total="{{datatable.data.length}}">
            </md-table-pagination>
        </md-content>
    </md-card>
</section>
