<!-- <div class="page-auth">
    <div class="main-body">
        <div class="card bg-white">
            <div class="card-content" style="    padding: 0 !important">
                <div class="logo" style="    margin-bottom: 5px !important">
                    <img ng-src="{{::app.logo}}" style="
    width: 200px;    height: 100px;
">
                    </img>
                </div>
                <form class="md-form-auth form-validation" name="material_login_form" ng-submit="auth()" style="padding-bottom: 7%;">
                    <fieldset>
                        <md-input-container class="md-block">
                            <label>
                                Email
                            </label>
                            <md-icon class="material-icons">
                                mail_outline
                            </md-icon>
                            <input name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required="" type="email"/>
                            <div multiple="" ng-if="material_login_form.email.$dirty" ng-messages="material_login_form.email.$error">
                                <div ng-message="required">
                                    This is required.
                                </div>
                                <div ng-message="pattern">
                                    It must be an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>
                                Password
                            </label>
                            <md-icon class="material-icons">
                                lock_outline
                            </md-icon>
                            <input name="password" ng-model="user.password" required="" type="password">
                                <div multiple="" ng-if="material_login_form.password.$dirty" ng-messages="material_login_form.password.$error">
                                    <div ng-message="required">
                                        This is required.
                                    </div>
                                </div>
                            </input>
                        </md-input-container>
                        <div>
                            {{alert}}
                        </div>
                        <md-button class="md-raised pull-right md-primary" type="submit">
                            Login
                        </md-button>
                    </fieldset>
                </form>
                <div class="additional-info">
                    <a href="/dashboard/signup">
                        Register
                    </a>
                    <span class="divider-h">
                    </span>
                    <a ui-sref="forgot">
                        Forgot your password?
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
