<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <section class="hero">
            <div class="hero-content">
                <h1 class="hero-title">Download Our Apps</h1>
                <br>
                <br>
                <br>

            </div>


          <!--   <p class="hero-tagline">We’re a crafted those with love.</p> -->
            <div class="hero-action">
                  <div class="row">
            <div class="col-md-6">

              <a href="https://play.google.com/store/apps/details?id=com.w2s.android.sfafleet">  <md-button class="md-raised btn-w-md md-primary">Android</md-button></a>
            </div>
                      <div class="col-md-6">
                <md-button class="md-raised btn-w-md md-primary">iOS</md-button>
   </div>
   </div>
            </div>
        </section>
    </article>




</section>
