<style type="text/css">
   container.md-input-invalid .md-input {
    border-color: rgb(213,0,0);
} 
</style>
<link href="assets/app/dashboard/style.css" rel="stylesheet" type="text/css"/>


<section class="container-fluid with-maxwidth chapter">
    <md-card>
        <md-content flex="" layout="column">
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>
                        Live Tracking Info
                    </span>
                    <span flex="">
                    </span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>
                            refresh
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>
                            filter_list
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>
                            search
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar aria-hidden="false" class="md-table-toolbar md-default" ng-show="showsearch">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex="100">
                            <input class="searchmrg" ng-model="searchFish" placeholder="Search">
                            </input>
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex="40">
                        <label>
                            Column
                        </label>
                        <md-select ng-change="updateDataTable()" ng-model="single.column">
                            <md-optgroup label="Column">
                                <md-option ng-repeat="column in autocolumn" ng-value="column.name">
                                    {{column.display}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex="40">
                        <label>
                            Search
                        </label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                        </input>
                    </md-input-container>
                    <md-button class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1" type="button">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table="">
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus">
                    </md-progress-linear>
                    <thead md-head="" md-order="query.order">
                        <tr md-row="">
                            <th md-column="" md-order-by="{{column.name}}" ng-repeat="column in autocolumn">
                                <span>
                                    {{column.display}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body="">
                        <tr md-auto-select="" md-row="" md-select="row" md-select-id="name" ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell="">
                                {{vim.userName}}
                            </td>
                            <td md-cell="">
                                {{vim.VehicleNo}}
                            </td>
                            <td md-cell="">
                                {{vim.timestamp}}
                            </td>
                            <td md-cell="">
                                {{vim.activity}}
                            </td>
                            <td md-cell="">
                                {{vim.speed}} km/h
                            </td>

                           <td md-cell="">
                                {{vim.Distance}} km
                            </td>



                           <td md-cell="">
                                {{vim.battery_status}}
                            </td>





                            <td md-cell="">


                                <md-button aria-label="visibility" class="md-icon-button" data-ng-click="openMap(vim.lat,vim.lng)">
                                    <md-tooltip>
                                        View
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        visibility
                                    </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-boundary-links="options.boundaryLinks" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect" md-total="{{datatable.data.length}}">
            </md-table-pagination>
        </md-content>
    </md-card>
</section>
