<section class="container-fluid with-maxwidth chapter">
    <div class="box-body" ng-hide="showform1">        
        <div class="col-md-12 nopad">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" ng-click="addbtn()">Add new</md-button>
            </div>
        </div>
    </div>

     <article class="article mrg1" ng-hide="hide">
        <md-toolbar class="backhead">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" onclick="globalapp.back()">
                    <md-tooltip>
                        Go Back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="cauto">{{title}}</h2>
                <md-button class="md-icon-button" ng-click="edit()">
                    <md-tooltip>
                        Edit {{title}}
                    </md-tooltip>
                    <md-icon>mode_edit</md-icon>
                </md-button>
              <!--   <md-button class="md-icon-button" ng-click="delete()">
                    <md-tooltip>
                        Delete {{title}}
                    </md-tooltip>
                    <md-icon>delete_forever</md-icon>
                </md-button> -->
            </div>
        </md-toolbar>

        <md-card>
        <md-content layout="column" flex>
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>{{title}} Info </span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>refresh</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>filter_list</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default" ng-show="showsearch" aria-hidden="false">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex=100>
                            <input ng-model="searchFish" placeholder="Search" class="searchmrg">
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex=40>
                        <label>Column</label>
                        <md-select ng-model="single.column" ng-change="updateDataTable()">
                            <md-optgroup label="Column">
                                <md-option ng-value="column.name" ng-repeat="column in autocolumn">{{column.display}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex=40>
                        <label>Search</label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                    </md-input-container>
                    <md-button type="button" class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table>
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus"></md-progress-linear>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}">
                                <span>{{column.display}}</span>
                            </th>
                            <th md-column>
                                <span>Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="row" md-select-id="name" md-auto-select ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{$index+1}}</td>
                            <td md-cell>{{vim.last_name}}</td>
                            <td md-cell>{{vim.first_name}}</td>
                            <td md-cell>{{vim.email}}</td>
                            <td md-cell>+{{vim.mobile}}</td>
                <!--             <td md-cell>
                            {{vim.role}}
                         </td> -->
                               <td md-cell>

                                 <md-button class="md-icon-button md-primary" data-ng-click="resetpwd(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Reset Password
                        </md-tooltip>



    <img src="assets/images/action-lock.png" style="width: 55%" class="ng-scope">
                                </md-button>

                                <md-button class="md-icon-button md-primary" data-ng-click="update_info(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Edit
                        </md-tooltip>
                                    <img src="/assets/images/edit.png" class="empimg ng-scope" style="width: 69%">
                                </md-button>
                                <md-button class="md-icon-button" data-ng-click="view1(vim.user_id)" aria-label="visibility">
                                  <md-tooltip>
                            View
                        </md-tooltip>
                                    <a style="color: white;
    background: green;
    font-size: 10px;
    padding: 2px;
    border: coral;
    border-radius: 4px;
    text-decoration: none" class="ng-scope">VIEW</a>
                                </md-button>
                         <!--        <md-button class="md-icon-button  md-warn" data-ng-click="delete(vim.user_id)" aria-label="delete_forever">
                                  <md-tooltip>
                            Delete
                        </md-tooltip>
                                    <img src="/assets/images/action-delete.png" class="empimg ng-scope" style="width: 69%">
                                </md-button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{datatable.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>
        </md-content>
    </md-card>
        </div>
    </article>


    <article class="article" ng-show="hideform">


        <div class="box box-default">

            <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button type="button" ng-click="submit_form()" class="md-raised btn-w-md md-primary">{{ add ? 'Save' : 'Update' }}</md-button>
                <md-button type="button" ng-click="closeform()" class="md-raised btn-w-md md-primary">Close</md-button>
            </div>
        </div>

            <div class="box-body form-validation">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" novalidate>

                            <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>First Name </label>
                            <input ng-model="data.first_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Last Name </label>
                            <input ng-model="data.last_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label class="phone">Phone no </label>
                            <input required ng-model="data.phone" type="text" ng-intl-tel-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">

                    <md-input-container class="md-block">
                            <label> Address </label>
                            <input required type="text" googleplace=""  ng-model="data.address">
                        </md-input-container>

                    </div>


                    
                </form>
            </div>
        </div>
    </article>

    <article class="article mrg1" ng-hide="hide1">
        <md-toolbar class="backhead">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" onclick="globalapp.back()">
                    <md-tooltip>
                        Go Back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="cauto">{{title}}</h2>
                <md-button class="md-icon-button" ng-click="edit()">
                    <md-tooltip>
                        Edit {{title}}
                    </md-tooltip>
                    <md-icon>mode_edit</md-icon>
                </md-button>
              <!--   <md-button class="md-icon-button" ng-click="delete()">
                    <md-tooltip>
                        Delete {{title}}
                    </md-tooltip>
                    <md-icon>delete_forever</md-icon>
                </md-button> -->
            </div>
        </md-toolbar>
        <md-content layout-padding class="overfl" md-whiteframe="2">
            <div class="row">
                <div class="col-md-6" ng-if="complete">

                  <p ng-bind-html="view(data.user_id,'EMP ID')"></p>
                  <p ng-bind-html="view(data.first_name,'First Name')"></p>
                  <p ng-bind-html="view(data.last_name,'Last Name')"></p>
        <!--               <p ng-bind-html="view(data.role,'Role')"></p> -->
                      <p ng-bind-html="view('+' + data.phone,'Contact no')"></p>
                       <p ng-bind-html="view(active[data.is_active],'Status')"></p>
<!--                          <p ng-if="data.belongs_manager" ng-bind-html="view(data.belongs_manager,'Belongs Manager')" class="textup"></p> -->


                
        
                </div>

                   <div class="col-md-6" ng-if="complete">
                 


                  <p ng-bind-html="view(data.phone_imei,'Associated Mobile')"></p>

                    <p ng-bind-html="view(data.street,'Address')"></p>
    <!--               <p ng-bind-html="view(data.city,'City')"></p>
                  <p ng-bind-html="view(data.state,'State')"></p>
                  <p ng-bind-html="view(data.country,'Country')"></p>
                  <p ng-bind-html="view(data.zipcode,'Zip Code')"></p> -->

                

                </div>

             <!--    <div class="col-md-6" ng-show="doc">
                    <hr>
                    <h5>Documents / Images</h5>
                    <div class="col-lg-12 col-md-12" ng-repeat="file in data.profile_image  track by $index">
                        <md-card>
                            <div class="md-media-lg card-media mdobj ">
                                <a download="{{file}}" href="{{file}}" title="File">
                                    <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                </a>
                            </div>
                        </md-card>
                    </div>
                </div>

                              <div class="col-md-6" ng-show="cust">
                    <hr>
                    <h5>Belongs to Customers </h5>
                    <div class="col-lg-12 col-md-12">
                        <h4 class="upper" ng-repeat="custinfo in data.cust  track by $index" >
                         Name : {{custinfo.name}} 
                        </h4>
                    </div>
                </div> -->


                

              
            </div>
        </md-content>
        </div>
    </article>
    
</section>
