<style type="text/css">
    .mdl-data-table th,td
  {
    text-align: left !important;
  }
</style>
<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <div class="col-md-12 ">
            <h2 class="article-title" style="padding-top:  30px;">
                Stoppage Report
            </h2>
            <div class="col-md-12 nopad">
                <form class="md-form-login form-validation" name="data_form" ng-submit="filter()" novalidate="">
                                 <div class="col-md-4">
                       <md-input-container class="md-block">
                            <label>
                                Employee
                            </label>
                            <md-select aria-label="select" ng-model="emp_id" required="">

                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block">
                            <label>
                                Period
                            </label>
                            <input date-range-picker="" name="name" ng-model="datePicker" required=""  options="DatePickerOptions" type="text" />
                        </md-input-container>
                    </div>





                    <div class="col-md-2">
                        <md-button class="md-raised btn-w-md md-primary" type="submit">
                            Filter
                        </md-button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row nopad" ng-clock="">



            <div class=" col-md-12 nopad">

                <h3 class="text-center" ng-if="data.visit_list.length == 0 || data.length == 0 " style="text-transform: uppercase;
    margin-top: 18px;">
                    No Reports to Show
                </h3>
                <table class="mdl-data-table tablefix" ng-if="data.visit_list.length > 0" style="width: 100%;    table-layout: fixed;">
                    <thead>
                        <tr>



                            <th class="mdl-data-table__cell--non-numeric">
                                # Trip Id
                            </th>


                            <th class="mdl-data-table__cell--non-numeric">
                               Vehicle
                            </th>

                            <th class="mdl-data-table__cell--non-numeric">
                              From
                            </th>

                            <th class="mdl-data-table__cell--non-numeric">
                              To
                            </th>


                            <th class="mdl-data-table__cell--non-numeric">
                             Time Of Stoppage
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="val in data.visit_list"  ng-click="openMap(val.lat,val.lng)">


                            <td class="mdl-data-table__cell--non-numeric" ng-if="val.trip_id!=0">
                                {{val.trip_id}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric" ng-if="val.trip_id==0">
                              Not In Trip
                            </td>


                                <td class="mdl-data-table__cell--non-numeric" ng-if="val.vehicle_no!=0">
                                    <span ng-repeat="user in vehicle | filter:{'id':  val.vehicle_no}:true">
                                        {{user.name }}
                                    </span>

                                </td>
                        <td class="mdl-data-table__cell--non-numeric" ng-if="val.trip_id==0">
                              No Vehicle
                            </td>




                            <td class="mdl-data-table__cell--non-numeric">
                                {{val.timestamp | dateFill }}
                            </td>

                            <td class="mdl-data-table__cell--non-numeric">
                                {{addSecs(val.timestamp,val.time_diff_mins)}}
                            </td>


                            <td class="mdl-data-table__cell--non-numeric">
                                {{getRelativeTime(val.time_diff_mins)}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>
