<div class="app-header">
    <div class="app-header-inner"  data-ng-class="{'bg-light': ['11','12','13','14','15','16','21'].indexOf(app.colorOption) >= 0,
                         'bg-dark': app.colorOption === '31',
                         'bg-primary': ['22','32'].indexOf(app.colorOption) >= 0,
                         'bg-success': ['23','33'].indexOf(app.colorOption) >= 0,
                         'bg-info': ['24','34'].indexOf(app.colorOption) >= 0,
                         'bg-warning': ['25','35'].indexOf(app.colorOption) >= 0,
                         'bg-danger': ['26','36'].indexOf(app.colorOption) >= 0}">
        <div class="hidden-lg hidden-md pull-left">
            <a href="" toggle-sidebar class="header-icon toggle-sidebar-btn">
               <i class="material-icons">menu</i>
            </a>
        </div>
        <div class="brand hidden-xs hidden-sm">

        <img  style="     height: 57px;
    margin-top: 0px;" ng-src="{{::app.logo}}">

        </div>
        <div class="top-nav-left">
            <ul class="list-unstyled pull-right pad2s">




            <li data-ng-controller="RootCtrl as ctrl"  permission  permission-only="'SUPERADMIN'">
                    <md-menu md-position-mode="target-right target">
                        <md-button class="header-btn" aria-label="menu"" ng-click="$mdOpenMenu($event)">
                            Company - {{company}}

                           <i class="material-icons">keyboard_arrow_down</i>


                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="auth in rootapis track by $index">
                                <md-button ng-click="set(auth.company_name,auth.domain.sub_domain_url)">

                               {{auth.company_name}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>


            </ul>
        </div>


  <div class="top-nav-right" style="    width: 68%;">
      <ul class="list-unstyled pull-right pad2s">


                          <li  data-ng-controller="RootCtrl as ctrl" style="padding-right:10px ">
                    <!--<md-button class="header-btn" ng-click="showDemo()">Help ? </md-button>-->
<p style="line-height:39px" class="ng-binding">Your Time Zone Is <span style="color: #0a0a0a;font-style: initial;font-weight:  700;" class="ng-binding">{{timeData.timezone}}</span></p></a>
                </li>
                  


     <ul class="list-unstyled pull-right ">
<!--                 <li class="hidden-xs hidden-sm" data-ng-controller="AppCtrl as ctrl">
                    <md-menu md-position-mode="target-right target">
                        <md-button class="header-btn" aria-label="menu"" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                            {{lang}}
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="lang in langs">
                                <md-button ng-click="setLang($index)">
                                    {{lang}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>

 -->

       <!--     <li data-ng-controller="RootCtrl as ctrl" >
                    <md-menu md-position-mode="target-right target">
                        <md-button class="header-btn" aria-label="menu"" ng-click="$mdOpenMenu($event)">
                           {{langChoosen}}

                           <i class="material-icons">keyboard_arrow_down</i>


                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="lang in langs track by $index">
                                <md-button ng-click="changeLang(lang)">

                               {{lang}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>-->


              <li style="padding-top: 12px;"><a href=" " class="header-btn " md-button ng-click="toggleRight() " ng-hide="isOpenRight() ">

<img src="assets/images/notification.png" style="width: 37%;" class="ng-scope">


              <div  class="badge" data-ng-controller="AppSidenavRightCtrl">

              {{newcount}}

              </div>
                 </a>
                </li>


                <li style="padding-right: 7px;padding-top: 11px;">

                    <md-menu md-position-mode="target-right target ">
                        <md-button class="header-btn " aria-label="menu" ng-click="$mdOpenMenu($event) ">

        <img src="assets/images/my-account.png" style="width: 18%;" class="ng-scope"><span > MY ACCOUNT</span>


                        </md-button>
                        <md-menu-content width="3 " style="background: #369490;">

                            <md-menu-item>


                            <md-button aria-label="menu " ui-sref="admin.profile" permission
     permission-except="['SUPERADMIN']">


                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="ng-scope">
<linearGradient id="XMLID_2_" gradientUnits="userSpaceOnUse" x1="6.7114" y1="23.9102" x2="18.7569" y2="6.052">
    <stop offset="0" style="stop-color:#20AFAE"></stop>
    <stop offset="1" style="stop-color:#9CC442"></stop>
</linearGradient>
<path id="XMLID_1253_" style="fill:url(#XMLID_2_);" d="M11.704,14.131c3.196,0,5.798-2.613,5.798-5.824S14.9,2.483,11.704,2.483
    c-3.197,0-5.798,2.612-5.798,5.823S8.507,14.131,11.704,14.131z M11.704,4.206c2.247,0,4.075,1.839,4.075,4.101
    s-1.828,4.102-4.075,4.102s-4.075-1.84-4.075-4.102S9.457,4.206,11.704,4.206z M14.388,14.7c-0.283-0.091-0.593-0.028-0.819,0.164
    l-1.864,1.586L9.84,14.864c-0.227-0.192-0.537-0.255-0.82-0.164c-1.206,0.385-7.22,2.454-7.22,5.438C1.8,20.615,2.186,21,2.661,21
    h18.086c0.476,0,0.861-0.385,0.861-0.861C21.608,17.154,15.594,15.085,14.388,14.7z M3.974,19.277
    c0.95-1.005,3.222-2.124,5.12-2.786l2.052,1.745c0.322,0.274,0.794,0.274,1.116,0l2.053-1.745c1.897,0.662,4.17,1.781,5.119,2.786
    H3.974z"></path>
</svg><span style="color: white" > PROFILE</span>

                            </md-button>



                            <md-button aria-label="menu " ui-sref="admin.adminprofile" permission permission-only="'SUPERADMIN'">


                          <md-icon class="material-icons ">face</md-icon><span style="color: white" >PROFILE</span>

                            </md-button>



                            </md-menu-item>

                               <md-menu-item>

                            <md-button aria-label="menu " ui-sref="logout">

                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="ng-scope">
<linearGradient id="XMLID_2_" gradientUnits="userSpaceOnUse" x1="3.8384" y1="21.0508" x2="14.8995" y2="4.652">
    <stop offset="0" style="stop-color:#20AFAE"></stop>
    <stop offset="1" style="stop-color:#9CC442"></stop>
</linearGradient>
<path id="XMLID_1456_" style="fill:url(#XMLID_2_);" d="M15.11,15.544v3.938c0,0.475-0.347,0.861-0.822,0.861H3.052
    c-0.475,0-0.861-0.387-0.861-0.861V5.271c0-0.477,0.387-0.861,0.861-0.861h11.236c0.476,0,0.822,0.385,0.822,0.861v3.939
    c0,0.475-0.387,0.861-0.861,0.861c-0.477,0-0.861-0.387-0.861-0.861V6.133H3.913v12.488h9.475v-3.077
    c0-0.476,0.385-0.861,0.861-0.861C14.724,14.683,15.11,15.068,15.11,15.544z M21.75,11.742l-3.374-3.408
    c-0.335-0.339-0.88-0.341-1.218-0.006c-0.338,0.334-0.341,0.879-0.006,1.218l1.926,1.945l-10.45,0.024
    c-0.476,0.001-0.86,0.388-0.859,0.863c0.001,0.475,0.387,0.859,0.861,0.859c0,0,0.001,0,0.002,0l10.438-0.024l-1.917,1.935
    c-0.335,0.339-0.332,0.884,0.006,1.219c0.168,0.166,0.387,0.25,0.606,0.25c0.222,0,0.442-0.086,0.611-0.256l3.374-3.407
    C22.083,12.617,22.083,12.077,21.75,11.742z"></path>
</svg><span  style="color: white"> LOG OUT</span>

                            </md-button>



                            </md-menu-item>


                        </md-menu-content>
                    </md-menu>
                </li>


            </ul>
        </div>

    </div>
</div>
