<style type="text/css">
    md-pagination-wrapper {
    width:auto !important;
}
md-autocomplete.md-default-theme, md-autocomplete
{
  background: none;
}
.md-whiteframe-z1
{
  box-shadow:none !important;
}
.box-body
{
  background: #8080801c
}
.phone
{
  margin-bottom:5px !important;
}
.md-select-value .md-select-icon
{
    display: none;
}
.md-select-value>span:not(.md-select-icon)
{
    display: block;  
}
</style>
<section class="page-with-tabs">
    <div class="page-title">
        <h1>Hi {{data.first_name}} {{data.last_name}}</h1>
        <h2 class="upcase">{{role}}</h2>
    </div>
    <md-tabs md-dynamic-height>
       

        <md-tab>
            <md-tab-label>Edit Profile</md-tab-label>
            <md-tab-body>
                <section>

                   <div class="box box-default">
            <div class="box-body form-validation">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" ng-submit="ProfileUpdate()" novalidate>
                                       <div class="col-md-3">
                                         <label>First Name  <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                           
                            <input ng-model="data.first_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                      <label>Last Name <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            
                            <input ng-model="data.last_name" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                       <label class="phone">Phone no <span style="color: red">*</span>  </label>
                        <md-input-container class="md-block">
                           
                            <input required ng-model="data.phone" type="text"
      }
      }
 ng-intl-tel-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                       <label class="email">Email <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                      
                            <input required type="email" name="email" ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />

                        </md-input-container>
                    </div>
                                
                        <!-- <div class="col-md-12">
                        <md-input-container class="md-block">
                                                    <label>Timezone</label>


                    <md-autocomplete
                    id="timezone"
                    required=""
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="data.timezonename"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(zone)"
          md-items="zone in querySearch(ctrl.searchText)"
          md-item-text="zone.desc"
          md-min-length="0"
          md-clear-button="false"
          
          value="data.timezonename">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{zone.desc}}</span>
        </md-item-template>
        <md-not-found>
          No Timezone matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>

    
                      
                        </md-input-container>

                       </div> -->

                       <div class="col-md-12">
                         <label>
                                Time Zone <span style="color: red">*</span> 
                            </label>
                        <md-input-container class="md-block">
                           
                            <md-select aria-label="select" required="" ng-model="data.timezonename">
                              
                               <md-option  ng-repeat="c1 in timeZone | orderBy:'id'" ng-value="c1.desc" 
                               ng-selected= "c1.desc" >
                                    {{c1.desc}}
                                </md-option>

                            

                            </md-select>
                        </md-input-container>
                    </div>

                                              
                       <div class="col-md-12" style="margin-top: 22px;">
                         <label>Company Location <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                                       
                                        <input googleplace="" ng-change="geocodeupdatelocpickup1()" ng-model="data.street" id='dash-cust-address' required="" type="text" value=data.cust_address />


                                      <md-icon ng-click="showpickupmap1()" ng-show="showpickupmap" style="margin-left: 98%;   color: #00326a;">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showpickupmap2()" ng-hide="showpickupmap" style="color: #00326a;" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>




                       </div>
                            
                            <div class="col-md-12" ng-init="geocodeupdatelocpickup()">


                                    <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none; ">
                                        <gm-map options="{center: [pickup_ladd, pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpos(marker.getPosition(),map.getZoom())" options="{position:[pickup_ladd, pickup_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div>

                                  <!--  <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [pickup_ladd, pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpickuppos(marker.getPosition(),map.getZoom(),true)" options="{position:[pickup_ladd, pickup_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div-->                                   
                                </div>
                                
                                  
                            <div class="col-md-12">
                        <br>
                                <md-checkbox  ng-model="data.mailnote"  
                                      ng-true-value="'true'"
                                      ng-false-value="'false'"
                                      ng-disabled="data.mailsts=='enabled'"
                                      id='add-dash-geoloc'>
                                                Sent Notification E-mail to The Customers
                                            </md-checkbox>



                             <md-checkbox ng-model="data.smsnote"
                                     
                                      ng-true-value="'true'"
                                      ng-false-value="'false'"
                                      ng-disabled="data.smssts=='enabled'"
                              >
                            </md-checkbox>
                                                Sent Notification Sms to The Customers (Select The Plans for Contact The MT Admin)
                                             <!--</md-checkbox>
                                             
                             <md-checkbox ng-false-value="0" ng-model="is_multipick" ng-true-value="1" id='add-dash-geoloc'>
                                                Multiple Pickup Points
                                            </md-checkbox>  -->              
                                
                       </div>
            

                 <!--    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> City </label>
                            <input required type="text" name="city" ng-model="data.city">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input required type="text" name="state" ng-model="data.state">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input required type="text" name="country" ng-model="data.country">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input required type="text" limitto="6" name="zip" ng-model="data.zipcode">
                        </md-input-container>
                    </div>

                -->


                  <!--   <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.profile_image  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div> -->
             <!--        <div class="col-md-12 nopad">
                        <h5>{{title}} Profile Image Upload</h5>
                    </div> -->
                    <div class="col-md-12 nopad" ng-show="false">


                  <lf-ng-md-file-input lf-api="lfApi"  name="files" lf-files="files" lf-mimetype="image/*"  lf-filesize="10MB" >
                        </lf-ng-md-file-input>


                    </div>
                    <div class="col-md-12">
                        <hr>
                        <md-button type="button" ng-click="reset()" class="md-raised right wid btn-w-md md-primary">Reset</md-button>
                        <md-button type="submit"  class="right wid md-raised btn-w-md md-primary"> Update</md-button>
                    </div>
                </form>
            </div>
        </div>

                </section>
            </md-tab-body>
        </md-tab>

            <md-tab>
            <md-tab-label ng-click="resetpwd()">Change Password</md-tab-label>
            <md-tab-body>
                <section>

            <div class="box-body form-validation">
                <form name="pwd_reset_form" unsaved-warning-form class="md-form-login form-validation" novalidate ng-submit="PasswordReset()">


                    <div class="col-md-4">
                                      <label>Old Password <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                         
                            <input ng-model="pwd.old" required type="password">
                        </md-input-container>
                    </div>



                    <div class="col-md-4">
                           <label>New Password <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                           
                            <input ng-model="pwd.new" name="password" required type="password" password-verify="{{pwd.confirm}}"  >

     <div class="help-block" ng-messages="pwd_reset_form.password.$error" ng-if="pwd_reset_form.password.$dirty">
          <p ng-message="required">This field is required</p>
          <p ng-message="minlength">This field is too short</p>
          <p ng-message="passwordVerify">Password not match!</p>
        </div>

                        </md-input-container>
                    </div>
                    <div class="col-md-4">                      
                            <label>Confirm New Password <span style="color: red">*</span> </label>
                        <md-input-container class="md-block">
                            <input ng-model="pwd.confirm" name="chpwd" required type="password" password-verify="{{pwd.new}}"  >

 <div class="help-block" ng-messages="pwd_reset_form.chpwd.$error" ng-if="pwd_reset_form.chpwd.$dirty">
          <p ng-message="required">This field is required</p>
          <p ng-message="minlength">This field is too short</p>
          <p ng-message="passwordVerify">Password not match!</p>
        </div>

                        </md-input-container>
                    </div>



                      <div class="col-md-12">
                        <md-button type="button" ng-click="reset()" class="md-raised right wid btn-w-md md-primary">Reset</md-button>
                        <md-button type="submit"  class="right wid md-raised btn-w-md md-primary"> Update</md-button>
                    </div>
                </form>
                    </div>





                </section>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</section>
