<style type="text/css">
    .mdl-data-table th,td
  {
    text-align: left !important;
  }

  .tl-time
  {
          width: 56% !important;
  }


</style>
<script src="https://use.fontawesome.com/b050bf52c2.js"></script>


<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <div class="col-md-12 ">
            <h2 class="article-title" style="padding-top:  30px;">
                Trip Summary
            </h2>
            <div class="col-md-12 nopad">
                <form class="md-form-login form-validation" name="data_form" ng-submit="filter()" novalidate="">
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>
                                Employee
                            </label>
                            <md-select aria-label="select" ng-model="emp_id" required="">
                               <!--  <md-option value="all">
                                    All Employees
                                </md-option> -->
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-5">
                        <md-input-container class="md-block">
                            <label>
                                Period
                            </label>
                            <input date-range-picker="" name="name" ng-model="datePicker" required="" type="text" options="{  timePicker: true,
        timePickerIncrement: 5,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        }}" >
                            </input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-button class="md-raised btn-w-md md-primary" type="submit">
                            Filter
                        </md-button>
                    </div>
                </form>
            </div>
        </div>




  <section class="container-fluid with-maxwidth-md">

    <div class="ui-timline-container ui-timline-left">
        <section class="ui-timeline" ng-repeat="item in data.visits_list">

            <article class="tl-item" ng-if="item.activity == 'Start'">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">Date time: {{item.timestamp}} </div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="fa fa-asterisk"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Trip Started</h4>
                               <h5 class="tl-tile text-primary" ng-if="item.trip_id.id!=null">Trip id :  {{item.trip_id.id}}</h5>


           <!--                  <h5 class="tl-tile text-primary">Trip Info</h5> -->
                             <p ng-if="item.vehicle_info.name!=null">Vehicle :{{item.vehicle_info.name}}</p>
                        </div>
                    </div>

                </div>
            </article>




        <article class="tl-item" ng-if="item.activity == 'Geofence'">
                <div class="tl-body">
                    <div class="tl-entry">
                         <div class="tl-time">Date time: {{item.timestamp}} </div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="fa fa-check"></i></div>
                        <div class="tl-content">

                                  <h5 class="tl-tile text-primary" ng-if="item.trip_id.id!=null">Trip id :  {{item.trip_id.id}}</h5>


                            <h4 class="tl-tile text-primary" ng-if="item.accuracy.id!=null"> Reached

<span ng-repeat="user in customers | filter:{'id':  item.accuracy}:true">

                         {{user.name }}

                                    </span>

                            </h4>


                            <h6 class="tl-tile text-primary"> </h6>
                            <p>Time Taken : {{item.time_taken}}</p>
                            <p>Travelled Distance : {{item.distance}} kms</p>
                            <p>Vehicle :{{item.vehicle_info.name}}</p>

                        </div>
                    </div>
                </div>
            </article>


             <article class="tl-item" ng-if="item.activity == 'Stop'">
                <div class="tl-body">
                    <div class="tl-entry">

                         <div class="tl-time">Date time: {{item.timestamp}} </div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="fa fa-asterisk"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Trip End</h4>


   <h5 class="tl-tile text-primary" ng-if="item.trip_id.id!=null">Trip id :  {{item.trip_id.id}}</h5>
                            <p>Time Taken : {{item.time_taken}}</p>
                            <p>Travelled Distance : {{item.distance}} kms</p>
                               <p ng-if="item.vehicle_info.name!=null">Vehicle :{{item.vehicle_info.name}}</p>
                        </div>
                    </div>
                </div>
            </article>


        </section>
    </div>

</section>
