<style type="text/css">
    md-sidenav {
        width: 500px !important;
        max-width: 500px !important;
}
p{
    margin-top: 11px !important;

    }
</style>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <div class="md-sidenav-inner" ng-controller="AppSidenavRightCtrl">
        <md-tabs>


         <md-tab>
    <md-tab-label>
        <i class="material-icons">
            mail_outline
        </i>
    </md-tab-label>
    <md-tab-body>
        <md-content style="height: calc(100vh - 55px);">
            <section>
                                 <md-subheader class="color-primary">
                    Un Readed
                </md-subheader>
                <md-list class="ui-md-list">
                    <md-list-item class="md-2-line"  ng-repeat="notification in notifications| filter:{read_at:null}  | orderBy:'created_at':true" ng-click="ReadMyNotifications(notification.id)" >
                        <md-icon class="material-icons" >
                            mail_outline
                        </md-icon>
                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\TaskCompleted'">
                            <h3>
                                {{notification.data.data.notes}} -  {{notification.data.data.method}}
                            </h3>
                            <p>
                                <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span>
                                <span ng-repeat="user in users | filter:{'user_id':  notification.data.data.emp_id}:true">
                                    By   Driver :   {{user.last_name }} {{user.first_name }}
                                </span>

                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\SpeedLimit'">
                            <h3>
                                Speed Limit Violation  - {{notification.data.data.speed}} km/h
                            </h3>
                            <p>
                                <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span>
                                <span ng-repeat="user in users | filter:{'user_id':  notification.data.data.emp}:true">
                                    By   Driver :   {{user.last_name }} {{user.first_name }}
                                </span>

                                 <span>
                                   On: {{notification.created_at }}
                                  </span>
                            </p>
                        </div>


                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\TaskAllocated'">
                            <h3>
                            New Task Allocated
                            </h3>
                            <p>
               <!--                  <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   To  Driver :   {{user.last_name }} {{user.first_name }}
                                </span>

                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>






                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\EmpWelcome'">
                            <h3>
                              New Employee Registered
                            </h3>
                            <p>
                  <!--               <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   Employee  :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>


                                           <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\EmpPasswordReset'">
                            <h3>
                              Employee Password Reset Alert
                            </h3>
                            <p>
                  <!--               <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   Employee  :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                    </md-list-item>
                </md-list>
            </section>
            <section>
                <md-subheader class="color-success">
                    Readed
                </md-subheader>
                <md-list class="ui-md-list">
                    <md-list-item class="md-2-line"  ng-repeat="notification in notifications  | orderBy:'created_at':true" ng-if="notification.read_at">
                        <md-icon class="material-icons">
                            mail_outline
                        </md-icon>
                                <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\TaskCompleted'">
                            <h3>
                                {{notification.data.data.notes}} -  {{notification.data.data.method}}
                            </h3>
                            <p>
                                <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span>
                                <span ng-repeat="user in users | filter:{'user_id':  notification.data.data.emp_id}:true">
                                    By   Driver :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\SpeedLimit'">
                            <h3>
                                Speed Limit Violation  - {{notification.data.data.speed}} km/h
                            </h3>
                            <p>
                                <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span>
                                <span ng-repeat="user in users | filter:{'user_id':  notification.data.data.emp}:true">
                                    By   Driver :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                                                <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\EmpWelcome'">
                            <h3>
                              New Employee Registered
                            </h3>
                            <p>
                  <!--               <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   Employee  :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                        <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\TaskAllocated'">
                            <h3>
                            New Task Allocated
                            </h3>
                            <p>
               <!--                  <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   To  Driver :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>

                                                                 <div class="md-list-item-text" ng-if="notification.type == 'App\\Notifications\\EmpPasswordReset'">
                            <h3>
                              Employee Password Reset Alert
                            </h3>
                            <p>
                  <!--               <span ng-repeat="location in locations | filter:{'id': parseInt(notification.data.data.cust_id)}:true">
                                    at    {{location.name}}
                                </span> -->
                                <span ng-repeat="user in users | filter:{'user_id':  notification.notifiable_id}:true">
                                   Employee  :   {{user.last_name }} {{user.first_name }}
                                </span>
                                                                 <span>
                                   On: {{notification.created_at }}
                                </span>
                            </p>
                        </div>


                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </md-tab-body>
</md-tab>


            <md-tab>
                <md-tab-label>
                    <i class="material-icons">
                        notifications
                    </i>
                </md-tab-label>
                <md-tab-body>
                    <md-content style="height: calc(100vh - 55px);">
                        <section>
                                           <md-subheader class="color-primary">
                                Un Readed
                            </md-subheader>

                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line"  ng-repeat="notification in messages_web| filter:{read_at:null}  | orderBy:'created_at':true" ng-click="ReadNotifications(notification.id,'web')">
                                    <md-icon class="material-icons">
                                        mail_outline
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>
                                            {{notification.title}}
                                        </h3>
                                        <p>
                                            {{notification.info}}
                                        </p>
                                        <p>
                                            <span ng-repeat="user in users | filter:{'user_id':  notification.user_id}:true">
                                                Driver :   {{user.last_name }} {{user.first_name }}  with
                                            </span>
                                            <span ng-repeat="feet in fleets | filter:{'id':  notification.vehicle_no}:true">
                                                Vehicle : {{feet.name }}
                                            </span>
                    <!--                         <span ng-if="{{notification.geo_alerts}}">
                                                Location :  {{location.name }},
                                            </span> -->
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>


                                                <section>
                            <md-subheader class="color-success">
                                 Readed
                            </md-subheader>

                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line"  ng-click="null" ng-repeat="notification in messages_web| orderBy:'created_at':true" ng-if="notification.read_at">
                                    <md-icon class="material-icons">
                                        mail_outline
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>
                                            {{notification.title}}
                                        </h3>
                                        <p>
                                            {{notification.info}}
                                        </p>
                                        <p>
                                            <span ng-repeat="user in users | filter:{'user_id':  notification.user_id}:true">
                                                Driver :   {{user.last_name }} {{user.first_name }} {{notification.status}}
                                            </span>
                                            <span ng-repeat="feet in fleets | filter:{'id':  notification.vehicle_no}:true">
                                                Vehicle : {{feet.name }}
                                            </span>
                    <!--                         <span ng-if="{{notification.geo_alerts}}">
                                                Location :  {{location.name }},
                                            </span> -->
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <i class="material-icons">
                        pin_drop
                    </i>
                </md-tab-label>
                <md-tab-body>
                    <md-content style="height: calc(100vh - 55px);">
                        <section>
                            <md-subheader class="color-primary">
                                Un Readed
                            </md-subheader>
                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line" ng-repeat="notification in messages_mob  | filter:{read_at:null}  |orderBy:'created_at':true" ng-click="ReadNotifications(notification.id)" >
                                    <md-icon class="material-icons">
                                        mail_outline
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>
                                            Location  {{notification.status}}
                                        </h3>
                                        <p>
                                            <span ng-repeat="user in users | filter:{'user_id':  notification.user_id}:true">
                                                Driver :   {{user.last_name }} {{user.first_name }} {{notification.status}}ing with
                                            </span>
                                            <span ng-repeat="feet in fleets | filter:{'id':  notification.vehicle_no}:true">
                                                Vehicle  : {{feet.name }} at
                                            </span>
                                            <span ng-repeat="location in locations | filter:{'id': parseInt(notification.cust_id)}:true">
                                                {{location.name}}
                                            </span>
                                        </p>
                                        <!-- <p>
                                            Notifyed at {{notification.created_at}}
                                        </p> -->
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>
                        <section>
                            <md-subheader class="color-success">
                                Readed
                            </md-subheader>
                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line" ng-click="null" ng-repeat="notification in messages_mob  |orderBy:'created_at':true" ng-if="notification.read_at">
                                    <md-icon class="material-icons">
                                        mail_outline
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>
                                            Location  {{notification.status}}
                                        </h3>
                                        <p>
                                            <span ng-repeat="user in users | filter:{'user_id':  notification.user_id}:true">
                                                Driver :   {{user.last_name }} {{user.first_name }} {{notification.status}}ing with
                                            </span>
                                            <span ng-repeat="feet in fleets | filter:{'id':  notification.vehicle_no}:true">
                                                Vehicle  : {{feet.name }} at
                                            </span>
                                            <span ng-repeat="location in locations | filter:{'id': parseInt(notification.cust_id)}:true">
                                                {{location.name}}
                                            </span>
                                        </p>
                                       <!--  <p>
                                            Notifyed at {{notification.created_at}}
                                        </p> -->
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </md-tab-body>
            </md-tab>




        </md-tabs>



    </div>
</md-sidenav>
